[2013-03-20 00:54] aionescu-zz opened #1 "Please clarify the data format cal-heatmap is expecting!"
Could you please clarify the data format that cal-heatmap is expecting?

If I download your JSON, that seems to work, but if I generate timestamps with values, they don't seems to be rendered, but also no error messages seems to appear in the console:
![cal-heatmpa-not_rendering](https://f.cloud.github.com/assets/339635/278761/79fba680-90f3-11e2-8b73-694e2a4d17a1.png)

My HTML file: https://gist.g

[2013-03-20 12:49] aadrian opened #2 "[bug] Non-Integer values won't get rendered in the tooltip."
Having some of the values as "non-integers", won't get them rendered in the tooltip.

[2013-03-20 12:57] aadrian opened #3 "[req] Make all examples editable in JSFiddle"
Please make all examples editable in JSFiddle so that users can try them right away.

Frameworks that do this:
http://handsontable.com/demo/renderers.html
(most examples can be tried and modified right away from that edit button)

http://api.highcharts.com/highcharts
(most properties have a "try" link)

Thanks in advance.

[2013-03-20 14:26] aadrian opened #4 "[bug] When onClick is active, the mouse pointer should be hand."
When a cal-heatmap has the 'onClick' event bound, the mouse pointer should be rendered as a "hand" to indicate that it's click-able (like the links), otherwise the users won't know, only hover, but not click on the cells.

Thanks in advance.

[2013-03-20 15:26] #1 closed, assigned to wa0x6e

[2013-03-20 23:37] #2 closed, assigned to wa0x6e

[2013-03-20 23:38] #4 closed, assigned to wa0x6e

[2013-03-21 03:26] #3 closed, assigned to wa0x6e

[2013-03-21 10:01] aadrian opened #5 "[req] AfterSVGRender callback?"
It wold be very useful to have an afterSVGRender event/callback. It seems that except the very simple examples, the rendering of cal-heatmap colors takes a few seconds (this seems to me like a general D3 problem)
Such an event would be helpful to be able to highlight or stop a progress indicator or some way to inform the user that a report is really ready.

Thanks in advance.

[2013-03-21 10:09] aadrian opened #6 "[req] I18n support"
Please add support to to allow to easily internationalize with cal-heatmap!

Thanks in advance.

[2013-03-21 12:02] aadrian opened #7 "[bug] wrong color for the last interval values."
Having own colors seems to work - the legend is displayed correctly, but values from the last interval are rendered with the wrong color. See following fiddle:
http://jsfiddle.net/aadrian/4aDdJ/2/

The last value is '99' and should be rendered in red (q5), but the last element loads the style q4

[2013-03-21 15:06] aadrian opened #8 "[req] support for null values"
Please add support for the cal-heatmap to gracefully handle null values too.

See this example: http://jsfiddle.net/aadrian/4aDdJ/5/
The last 3 elements from the data array are "null", so they should be rendered with gray (like those who are missing).

Thanks in advance.

[2013-03-21 17:22] #7 closed, assigned to wa0x6e

[2013-03-21 17:22] #8 closed, assigned to wa0x6e

[2013-03-28 21:29] #5 closed, assigned to wa0x6e

[2013-04-02 09:26] aadrian opened #9 "[bug] null values are not interpreted as "empty" by the cell label rendering."
Hi,

'null' values are not interpreted as "empty" cells by the rendering.
Using:

[code]

doesn't seem to apply the "empty" property on those cells.
Please see here: http://jsfiddle.net/aadrian/4aDdJ/6/
The tooltip for 9 Aug displays "0 item ..." whereas that for 10 Aug it displays correctly "No data on .."

Thanks in advance.

[2013-04-02 18:32] #9 closed, assigned to wa0x6e

[2013-04-10 03:26] #6 closed, assigned to wa0x6e

[2013-04-17 16:41] azcoov opened #10 "Option to invert & rotate Monthly view"
When viewing the heatmap, grouped by months, it makes sense to view it in calendar format where the rows represent weeks and the columns represent days of the week.

Here's an [example](http://jsfiddle.net/azcoov/Ep287/1/).

I was hoping an option could be added to allow this behavior.

I'm working on this now but I wanted to ping you to see what you thought. I figured you'd probably be able to kn

[2013-04-17 19:20] #10 closed, assigned to wa0x6e

[2013-05-14 22:30] lightspeed12 opened #12 "Label day directly on Calendar Heatmap?"
I really like the "Months > days (horizontally)" graph on this page:

http://kamisama.github.io/cal-heatmap/

I'm totally new to D3JS though and I'm wondering if its possible to label the day of the month (ie. 1,2,3...,31) directly on the calendar's HTML (not via tooltip). I basically just want to create a calendar with the day number on the day, just like a real calendar.

How would I go about do

[2013-06-06 23:44] malandis opened #14 "name should be plural when the data has a value of "0""
Suppose we initialize a calendar with

[code]

Then the following will display on the calendar:
- 1 bug
- 2 bugs
- 3 bugs
- 0 bug

The first three are correct.  The last is incorrect.  It should read "0 bugs".  Line 825 needs to be changed from:

[code]

to

[code]

[2013-06-19 18:18] #14 closed, assigned to nobody

[2013-06-23 11:40] aionescu-zz opened #16 "Browsing triggers a complete reload!"
"browsing", i.e. if the user clicks the "previous" or "next" arrows/buttons, triggers by default a complete reload of the complete data set (see your header example).

Would be useful if the behavior would be different:
- if the data is already there (e.g. the data set was bigger than the visible area), no server fetching should take place.
- if there's no data for the new "time slot" than extra p

[2013-06-23 11:45] aionescu-zz opened #17 "More default styles?"
Would be nice if the examples would also contain your first "header" example styling.

E.g. there, the "load previous day" and "load next day" browsing buttons and position (in form of just arrows), look much better than in the "day > hour" examples where they're buttons on top only:
http://jsfiddle.net/Kamisama/EsN62/3/

[2013-06-23 11:49] aionescu-zz opened #18 "SVG Export Button and API"
Highcharts: http://www.highcharts.com/demo/  has a very nice SVG Export functionality and API.
Would be useful if cal-heatmap would have this functionality too (only the client part - of course).

[2013-06-23 11:54] aionescu-zz opened #19 "Better "domain"/day separator or even border"
It would really help if there would be be configurable the possibility to have a better visual "domain" day separator. Maybe more space, or a vertical line, or even a thick border like http://boothead.github.io/d3/ex/calendar.html

If the domain is a month, this doesn't seems to be a problem that much, but in the case of days, users complain that they can't easily distinct the day ranges very well

[2013-06-23 18:00] #16 closed, assigned to nobody

[2013-07-02 06:36] aionescu-zz opened #20 "Vertical Rendering Mode"
Support to vertically render/order the elements (now cal-heatmap has only "horizontal" support)
See #10

This option would be quite practical not just for the month/week grouping:
- on mobile devices, scrolling is vertical, so it makes sense to have a vertical representation of elements
- on desktops in multi-column layouts, e.g. in existing reports, if there's place on the right (or left column),

[2013-07-06 16:58] aionescu-zz opened #21 "Just scrolling instead of browsing?"
Is it possible to configure the cal-heatmap to look like it's configured for browsing (with next and previous buttons), but to do just a scrolling instead of the already loaded data?
I.e. to not load anything new from server, but just to scroll with one domain to the left or the right?

Thank you.

[2013-07-08 14:22] dgorissen opened #22 "Data is lost when browsing with prev/next"
Hello,

Thanks for a great lib. Browsing seems not to work with me and I imagine Im doing something wrong but I cant imagine what as my code is quite simple.

On first load I can see the green squares coloured in where there is data and thats fine. However, it seems as soon as I click next or previous (so using the buttons you get with browsing: true) all the data disappears. So clicking next and

[2013-07-08 18:23] #20 closed, assigned to nobody

[2013-07-09 04:31] #22 closed, assigned to wa0x6e

[2013-07-09 04:33] #18 closed, assigned to wa0x6e

[2013-07-09 22:46] #12 closed, assigned to wa0x6e

[2013-07-10 03:01] #19 closed, assigned to wa0x6e

[2013-07-11 22:30] mattaylor opened #23 "number of domain rows"
Is there any way to configure the number of rows in a subdomain?

I am really looking to be able to rebuild heatmaps like... http://bl.ocks.org/tjdecke/5558084

Is this possible?

[2013-07-16 01:38] #17 closed, assigned to wa0x6e

[2013-07-18 22:24] #23 closed, assigned to nobody

[2013-07-18 22:48] wa0x6e opened #24 "update() API to update data"

[2013-07-23 01:50] wa0x6e opened #25 "Position legend on the side"
To go well with vertical oriented calendar

[2013-07-23 01:53] wa0x6e opened #26 "Consider missing value as 0"
Add option to consider no value as 0

[2013-07-23 15:55] lukemilts opened #27 "Months grouping in Months->days"
With this domain configuration odd groupings appear in relation to those with the wider widths, that span 5 vertical weeks. Pretty sure its down to 'w(d, true) \* i' style lines when calculating the x offset as this assumes that the previous months had the same larger widths.
Great plugin by the way.

[2013-07-24 20:01] #27 closed, assigned to nobody

[2013-08-01 23:16] #26 closed, assigned to nobody

[2013-08-03 16:06] yilezhou opened #28 "Multiple year calendar view"
Your project is super cool. I was playing around for a while, and I still can't get multiple years plot.
I want to see every day of a year, So I am using domain: year, subDomain: day, then I got the heat map for the year. How can I get second year's heat map below the first year?
I want to use your style, and I can set a year range. Just like d3 calendar view example:
http://bl.ocks.org/mbostock/4

[2013-08-07 21:12] #28 closed, assigned to wa0x6e

[2013-08-07 21:23] #24 closed, assigned to nobody

[2013-08-19 11:53] hkage opened #29 "data URL and template variables replacement"
Hi there,

first of all thanks for this great library. I was looking for such a D3.js calendar wrapper and cal-heatmap seems to be the perfect choice.

I am using the "data" attribute to call a method with the available template strings `{d:start}` and `{d:end}`. But the template variables won't get replaced. Am I missing something? Here is my configuration for the heatmap:

[code]

The URL gets p

[2013-08-19 16:07] #29 closed, assigned to nobody

[2013-08-23 19:45] martin-lukac opened #30 "Optional domain labels"
Hello! cal-heatmap is awesome! Thank you so much for your effort.

Can you add an option to disable the domain labels and to tweak the domainVerticalLabelHeight and domainHorizontalLabelWidth?

I am creating multiple cals and I am using a week/x_day setup with 4 weeks shown at a time. I stack the multiple cals vertically and each row has data from a different source. This allows for easy compariso

[2013-09-07 08:40] hashg opened #31 "Month-Day Horizontal view"
I have been looking for something on similar lines. Where I can display heatmap per person per day of the month. Days of the Month displayed horizontally.
![Horizontal Day Month](http://i.imgur.com/Z2Zow7D.png)

Can you add a option to render it this way?

[2013-09-07 18:46] jimerino opened #32 "Dynamic legend intervals"
On unknown dataset, where you don't know anything about the results, set a legend interval isn't usefull.

I can set a dynamic legend interval setting in the afterLoadData function:

[code]

But the legend isn't refreshed. I've tried calling cal.displayLegend(); manually but the duplicates the legend and show 2 legends, the default one [10, 20, 30, 40, 50] and on the bottom the new one.

I think i

[2013-09-12 08:04] digmxl opened #33 "onClick event : wrong items numbers after scrolling"
onClick: function(date, nb) {
  console.log(nb);
}

After using 'prev' and 'next' buttons (previousSelector and nextSelector)
onClick event is triggered with a wrong 'nb' items numbers

Browsers : firefox, chromium

[2013-09-12 17:28] wa0x6e opened #34 "update() don't works after next() or previous()"

[2013-09-12 22:02] #33 closed, assigned to wa0x6e

[2013-09-12 23:42] #34 closed, assigned to wa0x6e

[2013-09-14 13:33] ghost opened #35 "Month/day has limited next()"
I can only call next() 15 times on the following configuration:

cal.init({
        itemSelector: "#calvis",
        domainMargin: 3,
        domain: "month",
        subDomain: "x_day",
        legend: [1, 5, 10, 20],
        displayLegend: false,

[code]

I tried with other combinations and mostly they work, just month/day doesn't.

[2013-09-17 22:46] #35 closed, assigned to wa0x6e

[2013-09-22 05:46] wa0x6e opened #36 "Legend rotation"

[2013-09-22 20:08] #25 closed, assigned to nobody

[2013-09-22 20:09] #21 closed, assigned to wa0x6e

[2013-09-22 21:42] kokoro011 opened #37 "Two Days Get Summed"
![error1](https://f.cloud.github.com/assets/3082954/1188416/b8a5052a-23ce-11e3-8bc5-b8585d8029b6.png)

I am having issues with a couple of days in March 2013.

My JSON file contains 3/9/2013 11:00 GMT, 3/10/2013 11:00 and GMT 3/11/2013 11:00 GMT:

{
"1362826800":19952.14,
"1362913200":10000.00,
"1362999600":16050.47
}

For some reason 3/10 and 3/11 are getting combined and the sum of the values ar

[2013-09-22 22:11] #36 closed, assigned to nobody

[2013-09-23 14:23] 4tikhonov opened #38 "Split year panel in 2 or more columns"
Is it possible somehow to split horizontal or vertical year column in 2 parts to make it more visible/convenient for users? It's too long at the moment if I want to show all 12 months in the column, so users should scroll it down all time.

[2013-09-23 15:30] wa0x6e opened #39 "Support for negative timestamps"

[2013-09-24 02:23] #32 closed, assigned to wa0x6e

[2013-09-24 22:40] #37 closed, assigned to wa0x6e

[2013-09-24 23:17] kokoro011 opened #40 "Days Get Shifted in March"
So, I agree the two days getting summed up issue has been fixed and using the domain Day and subdomain Hour things look correct.  However, the days in March 2013 are still off when you use the domain Month and subdomain Day.

![1](https://f.cloud.github.com/assets/3082954/1204866/de18aea0-256e-11e3-965c-11f47fd8e09b.png)

Here is the JSON:  (the unix timestamps for the 0 are all sundays but it sti

[2013-09-26 18:33] #38 closed, assigned to wa0x6e

[2013-09-26 18:33] #31 closed, assigned to wa0x6e

[2013-09-26 23:07] lucashowell opened #41 "Last cell in Month Subdomain not displaying properly"
I'm experiencing this separately in my own code, but the bug is also demonstrated by your examples:

http://kamisama.github.io/cal-heatmap/#examples

**Year > day view.**
Shows there is clearly data in December.

**Year > Month view.**
Shows no data in December.

They both use the exact same dataset (datas-years.json).  Why isn't December showing any data in the Month View (even on hover - acts li

[2013-09-27 04:05] #41 closed, assigned to wa0x6e

[2013-09-29 19:11] lucashowell opened #42 "Seek to Domain Start (instead of using .next() repeatedly)?"
When browsing across a large set of domains / subdomains, I'd like to have a function that I can pass a date to and the heatmap will seek to the start of the matching domain.  Similar to how "start" works on init, but the seek function could be used anytime after the heatmap has been rendered.  Right now I'm using .next() repeatedly, but this can be pretty slow if the domain I'm seeking is dozens

[2013-10-03 18:54] #30 closed, assigned to wa0x6e

[2013-10-04 03:27] wa0x6e opened #43 "Add argument to next() and previous() to allow moving multiple domain at once"
Example: `next(5)` will shift the calendar 5 domains forward.

[2013-10-04 20:26] #40 closed, assigned to wa0x6e

[2013-10-05 03:10] #39 closed, assigned to wa0x6e

[2013-10-05 04:41] #43 closed, assigned to nobody

[2013-10-07 12:44] savyk opened #44 "Trouble with rowLimit and legendColors"
I am using the latest master and am trying to implement the last example to show all the hours of the day on the same line using the code below.  The days are showing as a 4x6 and the legend colors are staying the standard green.  Thanks!

[code]

[2013-10-07 19:43] #42 closed, assigned to wa0x6e

[2013-10-08 18:52] #44 closed, assigned to wa0x6e

[2013-10-10 14:01] andruby opened #47 "Increase d3 version dependency in bower.json"
Hi,

Is it possible to loosen the d3 requirement in bower.json to >3.0.6 ? So we can use the newer 3.3 version of d3.

[2013-10-10 17:16] #47 closed, assigned to nobody

[2013-10-15 14:06] pvandenbrink opened #48 "Custom (sub) domains possible?"
Is it possible to create custom domains, for example by grouping subdomains together?

In our use case it would be ideal to have a month domain with two 'half-day' blocks as the subdomain, the first block representing hour 0-11 and the second block hour 12-23. It doesn't seem like cal-heatmap supports this currently, is it possible to add such functionality?

[2013-10-16 13:40] gooroo175 opened #49 "Updating Highlights after Init"
Hey there,

I am trying to update the highlighted cells after I initially executed a calendar init. How can I do this. I am missing an setHighlight()-Method.

Thanks a lot for this awesome calendar heatmap.

Cheers

Max

[2013-10-16 19:35] #49 closed, assigned to wa0x6e

[2013-10-17 15:54] #48 closed, assigned to wa0x6e

[2013-10-19 13:12] dwiyatci opened #50 "Displaying names of the days"
Hi @kamisama,

is it possible to display names of the days of the week in month > day or month > x_day view, like the one in GitHub's contributions calendar?

![daynameslabel](https://f.cloud.github.com/assets/4405796/1366206/baa899a8-38bf-11e3-978c-4426dc789b71.png)

Thank you so much for your effort on this library.

Cheers!

[2013-10-25 03:45] djcas9 opened #51 "memory leak - Detached DOM Tree"
I am building a single page web application and have been trying to track down a memory leak in cal-heatmap when removing the svg ele from the DOM. It seems there is a circular reference somewhere that is causing some elements not to get garbage collected properly. I wanted to see if you could help me add a functuon to CalHeatMap to remove the object from the DOM and tracking down the leak. Here i

[2013-10-28 12:36] gooroo175 opened #52 "Parsing data leads to undefined index"
Subdomain data is parsed incorrecelty leading to a larger index than exists in "parseDatas".

Using the following calendar configuration:

[code]

and the following data set:

[code]

the function parseDatas calculates and index of 24 for the data item "1382911614" which is not allowed ina 24 hour day leading to an exception.

[2013-11-01 01:55] djcas9 opened #53 "Transform position in safari / FF"
Has anyone had a similar issue with the transform positioning in Safari and FF? it works as expected in Chrome.

![screen shot 2013-10-31 at 9 54 06 pm](https://f.cloud.github.com/assets/22273/1451368/a1be7498-4298-11e3-9ea6-35b761bd1e7c.png)

[2013-11-01 01:57] #53 closed, assigned to nobody

[2013-11-02 13:23] fabien-d opened #54 "Ability to embed domains to prevent any gaps"
## default behaviour

![image](https://f.cloud.github.com/assets/747616/1459101/571bd4d8-43c1-11e3-9ba5-fc5bfc1c7f8d.png)

It would be great to have a property to get domains to nicely fill the gap in these scenarios. Maybe leveraging `domainMargin` or a new separate key.

[code]
## optional output

![image](https://f.cloud.github.com/assets/747616/1459105/9b70b3ba-43c1-11e3-87bc-73c7fef6d0fc.png)

[2013-11-04 03:49] #54 closed, assigned to nobody

[2013-11-04 05:18] katzj opened #56 "DST time change messes up subdomain accounting"
With the time change today in the US, I get some fun bugs with a domain of day and subdomain of hour.  Earlier today, I end up with only 23 visible subdomains as there end up being 2 at the 1am hour.

Now that it's the next day, I get a js trace on line 2438 because there is a 25th hour in the day and it can't find the 25th hour in the list of subdomains.

[2013-11-05 21:12] #56 closed, assigned to wa0x6e

[2013-11-07 05:57] martin-lukac opened #57 "display data values in subdomain"
Hi! Would you consider adding a flag or a callback to display the value or a custom value in each subdomain? In the case of a day subdomain and others, it would be mutually exclusive with showing the actual day.

Thanks!

[2013-11-08 15:32] marcopovitch opened #58 "legendScale shifted"
Hi,
I am using the latest version, and It seems that the color associated to a cell  is shifted in the color scale.

The implied line in the source code is in function addStyle(element):
return parent.legendScale(Math.min(d.v, options.legend[options.legend.length-2]));

Replacing options.legend.length-2 by options.legend.length-1 seems good for me.

Thanks

[2013-11-08 16:21] marcopovitch opened #59 "Color for empty values"
Hi,

if I load my data with unset value (null) and if I set a lengendColors such as:
legendColors: { min: "red",
            max: "blue",
                empty: "grey" }

the cell with null value are not filled properly.

But it works if in addStyle function I add an extra check (d.v === 0 || d.v === null)
such as:
if ((d.v === 0 || d.v === null) && options.legendColors !== null && options.legendC

[2013-11-15 10:43] ThierryP opened #60 "Leap-year Issue in year-day domain"
Kamisama,

Hope you can solve the issue, this is a very neat library with lots of a well documented features.

With a year-day domain set:

[code]

and a dataset with timestamps on the day of December 31st in a leap year, cal-heatmap 'crashes'.
No issues with other domain sets (eg. month-day) or data-sets without timestamps on such dates of 31st of Dec in leap-years.
NB. Also without data, you can

[2013-11-15 19:46] djcas9 opened #61 "Data missing for hour 12-23"
I woke up this morning and all of my heat graphs in prod/dev looked like this.
![screen shot 2013-11-15 at 2 41 39 pm](https://f.cloud.github.com/assets/22273/1553096/18a4e088-4e2e-11e3-8b8b-ecf3f5ad75dc.png)

It seems that hour 12-23 are just dropped or something?

This is what i use to build my graphs.

[code]

Is anyone else having this issue?

[2013-11-16 00:56] #61 closed, assigned to wa0x6e

[2013-11-24 08:07] #60 closed, assigned to wa0x6e

[2013-11-24 09:17] #58 closed, assigned to wa0x6e

[2013-12-02 02:40] marksulls opened #62 "Tooltip absolute positioning issues"
I am having an issue where the tooltip position is off when I have padding on my body tag. This causes the tool tip to be too high. The other issues is that when wrapped in a bootstrap container div, it causes the tool tip to be shifted horizontally as well. You can see this behavior here:

http://jsfiddle.net/5cekL/embedded/result/

I imagine it's something with the absolute positioning these are

[2013-12-03 12:23] #62 closed, assigned to nobody

[2014-01-02 10:49] ghost opened #65 "Is it possible to change the tooltip message ?"
When hovering over a cell containing a value, I get the following message:

[value] items on Monday, January [d], [YYY]

Is it possible to customize the message? For instance, I'd like instead to show:

[dd mmmm yy], value: [value]

[2014-01-03 10:21] #65 closed, assigned to nobody

[2014-01-08 09:38] iglocska opened #66 "Small mistake in the documentation"
Just ran across something very minor, from the documentation (at http://kamisama.github.io/cal-heatmap/#data ) the following line

data: "http://localhost/api?start={{d:start}}&stop={{d:stop}}"

does not match the template for the end date, which should be {{d:end}}

[2014-01-08 09:40] #66 closed, assigned to wa0x6e

[2014-01-14 06:39] jithenreach opened #67 "Half Hour Interval Per Day"
I'd like add 30 minutes interval for each day instead of 1 hour. Searched all over the documentation but couldn't find anything. Is there a way to do it? If so please share some sample codes.

[2014-01-21 10:41] hchaojie opened #68 "updated data get lost after jumping to another domain and then jumping back"
steps:
- update current domain with data: cal.update(data)
- jump to another domain: cal.jumpTo()
- jump back: cal.rewind() - the previous data will not be shown.

if the data is set as an init option, it will always be shown regardless of jumping. This seems to be designed as is.

[2014-01-21 10:52] hchaojie opened #69 "the 'now' and 'hilight' classes are not applied to sub domain text"
precondition: I didn't set any highlight dates in init options. instead I call the cal.highlight(date) dynamically on clicking on sub domain. but after the call, the 'text.highlight' styles are not applied to that sub domain, inspect on the text element, it does not contain the 'highlight' class. meanwhile the 'text.now' class is also not added to the sub domain text of today.

[2014-01-25 18:03] #67 closed, assigned to wa0x6e

[2014-01-25 18:03] #59 closed, assigned to wa0x6e

[2014-01-25 23:38] #68 closed, assigned to wa0x6e

[2014-01-28 13:28] quim831 opened #70 "Working with upper and lower limits"
Hi

I believe that the first value that we specify in the legend array will generate two colors:
First color: less than the first value
Second color: between first and second values.

Is there any way to avoid the first interval "less than first value"?

I would like to show analog values that are higher than a certain value.
Ex [50, 70, 90]
Below 50 there is no color because ti's considered a nor

[2014-01-29 17:07] abelsonlive opened #71 "Error in documentation for exotic data formats."
In the "Exotic Data" section, you have the following snippet of code showing how to parse data after loading it:

[code]

There is no function `createCalendar` in your library.  Instead it should be this:

[code]

[2014-01-29 17:07] abelsonlive opened #72 "Error in documentation for exotic data formats."
In the "Exotic Data" section, you have the following snippet of code showing how to parse data after loading it:

[code]

There is no function `createCalendar` in your library.  Instead it should be this:

[code]

[2014-01-30 02:23] #72 closed, assigned to wa0x6e

[2014-01-31 16:07] #69 closed, assigned to wa0x6e

[2014-02-02 06:07] #57 closed, assigned to wa0x6e

[2014-02-03 08:44] marcopovitch opened #73 "Different data-set on different time period"
I face a strange problem. I have a calendar that get its data from a json url.
I use the same calendar to switch to _different data-set_ on _different time period_.
I use it as chown in the example you provide :

[code]

The first time I choose a data-set and a time period
I get an error from d3js
`TypeError: 'undefined' is not an object (evaluating 'e.length')`

Then if I select _again_ same data

[2014-02-04 13:42] natebird opened #75 "Enhancement: Tooltip content"
Is it possible to change the content of the Tooltip?

I'm looking to have something like the following:

February 14, 2014
Metric A: value
Metric B: value
Metric C: value

[2014-02-04 14:38] #75 closed, assigned to wa0x6e

[2014-02-04 15:37] #70 closed, assigned to wa0x6e

[2014-02-05 10:05] iglocska opened #76 "Weird bug with one of the values not presented correctly"
Not sure what is causing this, but all of the fields get shaded correctly except for one, which shows up as empty (however, hovering over it will show the correct value - it's just the colouring that is missing).

![cal-heatmap](https://f.cloud.github.com/assets/3668672/2085816/64255e62-8e4c-11e3-82e7-672b5e8e4cd6.png)

my settings look like this:

cal.init({
    range: 5,
    domain:"month",

[2014-02-21 22:02] kahwooi opened #77 "Unable to get property 'getFullYear' of undefined or null reference"
Trying using update:

[code]

I got this error:

[code]

at

[code]

[2014-02-26 11:30] DeathBorn opened #78 "Unable to set hours range to show on the domain "day" (question/feuture)"
By default, every hour of the day is show (etc. 00--24), but I know that some periods of the day does not have data at all. So, I would like to limit the range of hours to show.
For example, from 06 to 21.

However, I am unable to do that.

[2014-02-26 12:05] #78 closed, assigned to nobody

[2014-03-02 02:30] diasks2 opened #79 "Tooltips not aligned correctly when window width > 992px"
I am using cal-heatmap and bootstrap. When I have tooltips enabled, if the window size expands past 992px the tooltip is not aligned horizontally with the cell. To get around this issue I used the following hack, I'm sure there is a more elegant way to code it though. Thanks again for all your hard work on cal-heatmap, it is awesome!

[code]

[2014-04-10 20:00] apontej opened #80 "Cannot pass javascript objects into data"
Hello,

I am trying to pass a Javascript object that I build in my code into the "data" field and it doesn't seem to be working. I've saved the object to a json file and loaded that in and it works perfectly, but I can't get it to do it with a variable.

The cal-heatmap code is:

[code]

And the object is formatted as such:

[code]

Is there any way to load the data from a variable?

[2014-04-11 05:04] Lucas-S opened #81 "Scale is not reflected on key"
If you mouse over the key and look at the tooltips, they don't reflect the scale that has been set.
In the demo ( http://jsfiddle.net/Kamisama/YDFyQ/4/ ) below the scale as been set as

[code]

But the tool-tips still say between 10 and 20 lost kittens etc

[2014-04-12 04:53] #81 closed, assigned to nobody

[2014-05-13 13:50] jordanhammond opened #83 "Day value displaying as -e for all dates"
For some reason all day values are displaying as '-e' for me.
init JS and sample data is below.

![cal-heatmap](https://cloud.githubusercontent.com/assets/3044001/2957985/45130c2c-daa5-11e3-989c-b77a0b1a9ffe.png)

JavaScript
----------------------
	var d = new Date();
	var start = new Date(d.getFullYear()-1, d.getMonth());
	var cal = new CalHeatMap();
	cal.init({
		domain: "month",
		subDomain: "d

[2014-06-04 01:06] Jonovono opened #87 "Year > Weeks aligning issue"
So I am trying to show a line of all weeks for each year.

I am getting a strange behaviour (or atleast I think it is strange).

I am executing the following code:

[code]

This is how it shows up: http://i.imgur.com/0n9s7wU.png

Shouldn't the blocks all be in the same line? Why do some stick out? And start at like January week #00.

Thanks!

[2014-06-12 08:28] hjzheng opened #88 "Can you support google calendar ics data?"
Can you support google calendar ics data?

[2014-06-12 17:33] joshuamckay opened #89 "Empty data treatment"
Greetings - could the legend support alternate color settings for lacking (empty) data past the current date and working days/weekends?

I.E. - in the attached chart, June 13th, 16th, and 23-25th are different than dates prior to the 12th.
![screen shot 2014-06-12 at 11 29 31 am](https://cloud.githubusercontent.com/assets/4750853/3261285/9e479ab4-f257-11e3-8b56-62518440bb92.png)

[2014-06-17 21:30] joshuamckay opened #90 "Legend colors/values not working properly"
I appear to have an issue where data values of 1 are sometimes colored properly, and sometimes colored as "less than 1" per the legend.  See attached image with a tooltip for the day, the first legend entry, and the second legend entry.  This is the legend code I'm using:

 <code>legend: [1,4,8,12,20]}</code>

Not sure why days with a value of 1 are randomly showing gray.

![legend](https://cloud.

[2014-06-18 11:27] hetong007 opened #91 "Add 'middle' value for legend"
Hi, I am using your script to visualize the difference of the stock price. I want to use `'red'` to represent decreasing and `'green'` to represent increasing. But the HCL interpolation is ugly since the middle color is brown.

Is it possible to define a `'middle'` color, so that I can use 'white' to guide the color interpolation and make the plot better? Thank you very much.

[2014-06-18 13:25] ssaptarshi opened #92 "D3JS version question"
Hi,

Can you please confirm if cal-heatmap is tested against the latest version of D3, i.e. 3.4.8
An update: just checked the package.json file, and it seems to indicate any D3 version equal to / higher than 3.0.6 is ok, so can one assume it to work with the latest version - i.e. has it been tested against the latest version ?

Thanks!

[2014-06-19 02:20] #88 closed, assigned to nobody

[2014-06-19 09:21] 40in opened #93 "Tooltip position due to legendOffset and domainLabel"
I have found that tooltip doesn't consider legendPosition and domainLabel position.

You may take a look here - http://jsfiddle.net/9sfsk/result/

I assume adding some additional cases, like:

[code]

Surely, it's just an example, considering all position cases requires more options.

[2014-06-24 01:31] suwanji580 opened #94 "Responsive Calender"
Hi,
How can I make calender graph as responsive. Please help me

[2014-07-05 15:18] vladlep opened #95 "Calendar start and end date are not correctly generated"
The start_date is always set to the last day of the previous month while the end date is set to one day earlier than the it should be. In this way i miss getting the data fro the 28th of feb and 31st of march in my example
"https://my_example/get/calendar/92/?start_date=2014-01-31T23:00:00.000Z&end_date=2014-02-27T23:00:00.000Z&user_id=4"."

https://my_example/get/calendar/data/?start_date=2014-02

[2014-07-14 15:37] vladlep opened #96 "When I jumpTo and highlight afterwards i sometime get some error"
If i use jumpTo function to change the domain and the highlight function afterwards to highlight then new date

[code]

 i sometime get an error:
Uncaught TypeError: Cannot read property 'length' of undefined;

[code]

The error shows in the d3 library because wrong data is passed, I presume, and group is undefined:

[code]

[2014-07-14 20:04] ghost opened #97 "make "class" of all elements more dedicated"
If cal-heatmap is used with other svgs, the "generic" css settings will overrule other svg objects. It would make sense to make the classes of each element more "unique". Any css style ( see cal-heatmap.css) should only apply to elements provided by cal-heatmap.
example CSS: rect.highlight ---> rect.highlight.cal-heatmap

[2014-07-14 20:26] ghost opened #98 "extend URL variables"
Are there any more variables like {{d:start}} and {{d:end}} ?
Would appreciate if there's also something like number of subdomains currently needed (e.g. {{d:numsubdomain}})?

[2014-07-16 01:27] Luiz-N opened #99 "3 color gradient legend?"
Let me start by saying I love what has been built here. This is a powerful library with a lot of potential use cases. I'm working on a project where I was hoping to have the colorlegend method interpolate through 3 colors? I'm hoping to create something like [this](http://cl.ly/image/0A110v2o2j1W) with a third color in the middle.

[2014-07-23 08:17] mastef opened #100 "Responsive cal-heatmap"
Not quite 'responsive' in the sense of displaying the same data on all widths, however it changes values based on screen width, destroys the old calendar, and draws a new one.

Basically if your window width is less than 768px, it will only show 6 subdomains, and if it's bigger it will show 12 ( or whatever you tell it to )

Let me know if the destroying / unsetting is wrong and could be done bett

[2014-07-24 22:13] Chadwiki opened #101 "Highlight & Label"
1) Is  there a way to highlight or label the days of the week?
                   I prefer not on the cell but to on y axis.
I currently have a monthly view with each day vertical with the hours going horizontal..

[code]

2) Is there a way to provide other specific dates/time in a list to highlight? (enable/disable/toggle)
       example want - highlight:[ date0, date1, date2, ....]
       the im

[2014-08-14 20:22] koalaboy808 opened #102 "Additional Data in the Tooltip"
My calendar only takes in four values (0,1,2,3). The four values correspond to days in my local school calendar year (0 - Regular Days, 1 - Holidays, 2 - Teacher Days, 3 - School Meeting) I would like the tooltip to label them more discretely (i.e. the type of Holiday or the type of School Meeting). I've looked through 'subDomainTitleFormat' but can't seem to find a solution. Is it possible to rep

[2014-08-16 18:36] chimeno opened #103 "Missing hover a legend cell"
In: http://kamisama.github.io/cal-heatmap/#legend
It is said:

Where trying to hover on a legend cell, nothing happens, I think the configuration options are missed.

[2014-08-16 20:03] #103 closed, assigned to nobody

[2014-09-02 18:00] guilhermedecampo opened #105 "Any Idea why 19 october there is no rect?"
Any Idea why 19 october there is no rect?

![screen shot 2014-09-02 at 2 48 03 pm](https://cloud.githubusercontent.com/assets/4806269/4123063/9852f8c0-32ca-11e4-93e1-70678d92f1f7.png)

My options

[code]

[2014-09-06 15:30] lavrton opened #106 "Update npm version"
Please update (publish) current version to npm. It is not possible to use last published version with `browserify` because it has no CommonJS loader. Thanks.

[2014-09-15 16:07] #101 closed, assigned to wa0x6e

[2014-09-15 16:08] #71 closed, assigned to wa0x6e

[2014-09-30 08:24] WilliamStam opened #108 "Hovering over a cell cuts off the border on the edges"
i noticed this in my project. when you hover over a cell on the edge it sometimes "cuts off" the border. it does the same on the docs eg's

i really doubt this is intended behaviour.

![image](https://cloud.githubusercontent.com/assets/182800/4455131/11b9eb86-487b-11e4-8dfb-894fbf8d285d.png)

my project screenshot is in firefox (latest) and the docs screenshot was done in chrome latest.

[2014-10-06 09:46] mathiver opened #109 "Adding extra column"
I currently use the hourly calendar view. Is it possible to add an extra column at the end to e.g. also show the sum?

[2014-10-06 15:00] mathiver opened #110 "Showing only particular days"
Is it possible to select certain days from the calendar, e.g., for showing only Mondays?

[2014-10-09 12:18] WilliamStam opened #111 "(Request) Reverse domain order"
i tried to find an option for this and could't seem to find it. would it be possible to add a reverse option for the domains?

for instance.. if you on month view.. and range is 5.. that the latest month is first last month is next etc.

in my project using the vertical layout.. the last month is last.. would like it to be first

(apologies if this funtionality exists already)

[2014-10-14 09:56] JolienJM opened #112 "Other languages in tooltip no longer working?"
I'm trying to get the day-month-year part of the tooltip to display in a different language. I saw that http://jsfiddle.net/Kamisama/YDFyQ/4/ uses moment.lang, but in this example I still see the date in English. Is there an error on my side or is this example no longer working?

[2014-10-14 16:29] #112 closed, assigned to nobody

[2014-10-17 16:14] nyquist212 opened #113 "Curious Back & Forward Animation Behavior"
When user 'accidentally' double-clicks the forward and backwards animation controls, redrawing seems to get messed up (sorry, that's about as technical I can describe it). If user consistently double-clicks controls as they navigate forwards and backwards, very strange behaviors begin to be experienced.
Hosted example here:
http://colinwhite.net/AtxUtilization/
Code here:
https://github.com/nyquis

[2014-10-31 00:16] bumrush opened #114 "considerMissingDataAsZero not working?"
Hi, I'm playing around with cal-heatmap on [jsfiddle](http://jsfiddle.net/hyperbit/y3pqh9tc/13/). I set `considerMissingDataAsZero` to `true`, but the the grid is still filled in, even when missing values. The only time a cell is empty is when the data is explicitly set to 0. Am I missing anything?

[code]

jsfiddle link: http://jsfiddle.net/hyperbit/y3pqh9tc/13/

[2014-10-31 19:24] scsi050 opened #115 "no date past 08"
hi, in cal-heatmap v3.4.0, (using Chrome 38.0.2125.111 and FireFox v28.0) i'm having an issue where no date past day 08 is displayed, even though i'm using the sample code for Month > hour. Is this a known issue ? (see attachment for screenshot).

![error](https://cloud.githubusercontent.com/assets/9487453/4867274/737ac2a2-6133-11e4-9eb3-4b250d775110.gif)

var calendar = new CalHeatMap();
calendar

[2014-11-04 13:22] suresh44t opened #116 "There is an issue with the custom scale ranges"
There is an issue with the custom scale ranges, though we give a different scale range it is always taking as 10-40

In this example http://jsfiddle.net/Kamisama/4aDdJ/1/ , the scale range in the JS code is 40-100, but when you hover it on the actual labels its range is 10-40.

[2014-11-11 10:40] msc314 opened #117 "null data colorized incorrectly when custom legend scale used"
We add the following correction to solve the issue:

![cal-heatmap-issue](https://cloud.githubusercontent.com/assets/644975/4991732/e746a43e-699f-11e4-8c2e-23f8a68efe2d.PNG)

[2014-11-11 23:26] gbonline opened #118 "Lost lines on stroke"
Hi, i've found very fantastic this calendar. I thought to build one but your is over the top.
Then now I'm trying this and I've found very boring, annoying the fact that the rect cells on left and top border have a cutted stroke. But also in your example page: every example with month/day domain, have this strange behavior: the rects on the left, or on top of the month area have the stroke cutted

[2014-11-12 21:26] #106 closed, assigned to nobody

[2014-11-12 23:50] #93 closed, assigned to nobody

[2014-11-13 00:05] #97 closed, assigned to nobody

[2014-11-13 03:03] #89 closed, assigned to nobody

[2014-11-13 03:05] #77 closed, assigned to wa0x6e

[2014-11-13 03:58] #99 closed, assigned to wa0x6e

[2014-11-13 04:01] #118 closed, assigned to nobody

[2014-11-13 05:26] #51 closed, assigned to wa0x6e

[2014-11-19 11:00] NikkiMinton opened #119 "Help Pages not loading"
I'm trying to access your very useful help pages on http://kamisama.github.io/cal-heatmap but they won't load. Is there a problem with the website?

Thanks

[2014-11-27 09:30] fnoop opened #120 "onComplete can't target generated svg"
Hi, I'm trying to use onComplete to add classes to the generated rects like this:
onComplete: function() {
  $('[class*=" .graph-rect"]').addClass('md-trigger');
}

However it never seems to be able to select the generated containers, and I've tried all sorts of selectors.  Is onComplete called before the actual containers are generated?  Is there any way to target them?  Basically I want to be ab

[2014-11-27 11:19] #120 closed, assigned to nobody

[2014-11-28 19:04] fnoop opened #121 "jumpTo method doesn't trigger events?"
Hi

I'm drawing multiple heatmaps on a screen which works fine.  I have the data set to a URL with {{t:start}} and {{t:end}} so whenever I call jumpTo on a heatmap it goes and fetches the new data and then repaints the heatmap with the new data.  I set onComplete() and onClick() with functions that adds modal triggers and a few other things so when a date cell is clicked a modal pops up and calls

[2014-12-01 19:15] #119 closed, assigned to nobody

[2014-12-16 08:23] jblz opened #122 "Support displaying arbitrary time zone settings."
It appears that the visualization displays data points based on the client browser's timezone offset and I can't seem to change it.

I can hack my data object by adding `(new Date( timestamp * 1000 )).getTimezoneOffset() * 60` to each of the keys to make it display in UTC (desirable in my application).

Here's an example which illustrates this:
http://codepen.io/jblz/pen/XJdLwx

It would be nice t

[2014-12-30 10:40] sanyasiraob opened #123 "Is it possible to apply legendColors (empty) for missing data"

[2015-01-08 16:22] kedarv opened #126 "Days getting shifted?"
Hi,
For some reason, the heatmap is shifting some of the JSON values. I don't think this is related to timezone because all of my events (recorded in EST) occur before 11pm (viewing in central time zone). **I suspect that everything is shifted back one day.**

I did some debugging, and found that I have the following events on sunday:
Sun 17 @ 1408233600
Sun 7 @ 1410048000
Sun 14 @ 1410652800
Sun

[2015-01-15 22:27] renschler opened #127 "Legend range labels display constantly - not hover dependent (feature request)"
It would be great if there was a setting that allowed legend labels to be displayed constantly. That way you could interpret the heat map without having to hover over the legend.

[2015-01-19 22:49] kamisama commented on #123
You should be able to do it.

Ensure that `considerMissingDataAsZero` is `false` (default), and edit the class `graph-rect` in your css.

[2015-01-19 22:56] kamisama commented on #79
Fixed in 3.5.1

[2015-01-19 22:56] #79 closed

[2015-01-19 23:24] kamisama commented on #108
Are you using twitter bootstrap ?

From my tests, there's a cut-off on three sides when using bootstrap, and it happens onlt on the right side when no bootstrap.

There is some overflow:hidden issue. If you did not enable domain navigation, you could put a `overflow:visible;` to all svg elements to temporary fix the issue.

[2015-01-19 23:31] kamisama commented on #115
I just checked, and the month domain + hour subdomain is not supported.

Are you sure you want/need to display a heatmap of 800 nodes ?

[2015-01-20 05:20] WilliamStam commented on #108
yips im using bootstrap. I presume the docs also uses bs? (on mobile now cant check)

[2015-01-21 15:31] claudiodsf commented on #117
:+1: I had the same problem and this correction actually fixes the issue.
See also #123

[2015-01-21 15:32] claudiodsf commented on #123
I think this is related to the problem in #117

[2015-01-21 17:21] kamisama commented on #123
Correct, closing this, see #117

[2015-01-21 17:21] #123 closed

[2015-01-21 17:22] kamisama commented on #114
Closing, duplicate of #117 and #74

[2015-01-21 17:22] #114 closed

[2015-01-22 14:55] infacq opened #128 "print or export to pdf"
this is very nice calendar. can we have print option

[2015-01-23 09:44] infacq opened #129 "AMD Error"
`Uncaught Error: Module name "d3" has not been loaded yet for context: _. Use require([])`

does anyone experience this?

here is my setup

[code]

[2015-01-23 21:52] Linell opened #130 "Days With Data Showing Up As If Empty"
I've got the following chart configuration:

[code]

This is being set in angular via the [angular-cal-heatmap-directive](https://github.com/shekhargulati/angular-cal-heatmap-directive/blob/master/app/scripts/calHeatmap.js). Looking at the directive's code, I don't think that the problem would be in it as it's very simple.

By doing `$('#ada-heatmap').calHeatmap()` I got this:
![screen shot 2015-0

[2015-01-23 22:53] Linell commented on #130
I've noticed that every item that should be colored and is not has a value greater than 10. The legend's darkest value is "More than 10 items"

[2015-01-24 04:10] kamisama commented on #130
Is the issue occuring for the whole calendar, or just for dates after a certain date ? Is that certain the day of DST ?

[2015-01-24 04:11] kamisama commented on #128
Did you see #18 ? Or something else is on your mind ?

[2015-01-24 04:14] kamisama commented on #129
A fix with #124 should be on the way

[2015-01-24 04:28] kamisama commented on #108
yes, the doc does use tw bootstrap, and there's a rule inside putting a overflow:hidden to all non root svg.

[2015-01-24 04:58] kamisama commented on #108
In the mean time, there's a dirty fix in #118

[2015-01-24 05:04] kamisama commented on #80
Closed as invalid.

I think the code you're using is from the v2 branch, since you're using the `id` option, that was removed in v3.

Passing data to javascript object does work in the v3 branch.

[2015-01-24 05:04] #80 closed

[2015-01-24 05:08] kamisama commented on #83
Close as inactive.

Please re-open with more browser data if you encounter that issue. I suspect a browser locale issue.

[2015-01-24 05:08] #83 closed

[2015-01-24 05:11] kamisama commented on #130
Can you tell me what classes are applied to the cells with the issue ?

[2015-01-24 05:43] kamisama commented on #121
You can use the `afterLoadNextDomain` and `afterLoadPreviousDomain` callbacks to trigger your events after a `JumpTo()`.

[2015-01-24 14:15] Linell commented on #130
I actually found that the problem was being caused by items with a value greater than ten. Despite the legend's indication that anything greater than ten would be the darkest color, none of the items had color. Setting the

[code]

colors all of the items that need to be colored.

It's still odd that they weren't colored at all. I can remove those changes and give you the classes if you'd like. Al

[2015-01-24 18:43] kamisama commented on #130
Yes please. Knowing what classes are applied to the cells is the first step for debugging. I want to know if it's a problem related to the stylesheets, or the classes themselves are missing.

Could you also provide a sample of your data ?

[2015-01-26 14:41] Linell commented on #130
This one is not colored and should be:

![screen shot 2015-01-26 at 8 36 24 am](https://cloud.githubusercontent.com/assets/1231554/5901243/78b1bdc4-a536-11e4-82a2-5bd44ada7dad.png)

This one is colored correctly:

![screen shot 2015-01-26 at 8 37 18 am](https://cloud.githubusercontent.com/assets/1231554/5901255/943e1ef2-a536-11e4-9d0d-0dc54460b238.png)

---

Here is a sample of the data

[code]

[2015-01-26 19:59] kamisama commented on #130
Do you have the `q6` class in your css ?

[2015-01-26 21:12] Linell commented on #130
I do not. I'm using the [cal-heatmap.css](https://github.com/kamisama/cal-heatmap/blob/master/cal-heatmap.css#L58-L86) and haven't modified it at all. I also haven't overridden `q6` anywhere else.

[2015-01-26 21:25] kamisama commented on #130
I thinks that's the issue. You have to add the additional `qn` classes in your css when your legend have more than 5 colors.

[2015-01-26 21:27] Linell commented on #130
Ah, I see. I expected it to take my data and automagically segment it into 5 bands and color based off of that.

I've now got my code set up to do that for me and set legend to that array and it works fine. Thank you for your help!

[2015-01-26 21:27] #130 closed

[2015-01-26 21:32] kamisama commented on #130
Use the `legendColor` option if you want magic coloring, instead of css.

[2015-01-27 01:47] infacq commented on #129
looking forward https://github.com/kamisama/cal-heatmap/pull/124

[2015-01-27 02:20] #129 closed

[2015-01-27 10:19] Misiu commented on #50
:+1:

[2015-01-30 18:51] harlanlewis opened #131 "tooltip contained by {overflow:hidden / auto} not fully displayed"
I am displaying a calendar heatmap inside a sidebar with `{overflow: auto}` for vertical scrolling. Because the tooltip is also contained by the sidebar, it is cut off at the edges (screenshot attached).

A frequent practice for tooltips is to insert them at the end of `body`, with more JS for finding and maintaining their position as the user scrolls or elements move around. Are there any plans f

[2015-01-30 20:04] harlanlewis commented on #131
Note I have resolved this issue in my project by using Tipsy (http://onehackoranother.com/projects/jquery/tipsy/) instead of Cal Heatmap's tooltips.

[2015-02-02 18:15] samuoses opened #132 "Hours range"
It is possible to set a range of hour in a day(week, month...)?, for example split the hours in three groups (00-07,07-15,15-00), it should be useful to show some indicators in theses periods.

Thank you

[2015-02-03 04:35] kamisama commented on #132
No, because it'll be a pain to manage. And you groups are not even, so impossible to compute each cells position.

[2015-02-05 00:29] kunolek commented on #79
I still have problem with bootstrap and tooltips :(

[2015-02-05 01:38] kamisama commented on #79
Can you give an excerpt of you html source code ?

[2015-02-05 06:44] robert-lewon commented on #79
It was still:

.cal-heatmap-container{
	margin-left: auto;
	margin-right: auto;
}

and <div id="cal-heatmap"></div> is in:

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">

[2015-02-05 18:25] kamisama commented on #79
Does that works for you ? http://jsfiddle.net/Kamisama/4hxvca5L/

[2015-02-05 18:46] #117 closed

[2015-02-05 21:54] #132 closed

[2015-02-05 23:28] robert-lewon commented on #79
No. My intention was to center heatmap in its container. I've done:

#cal-heatmap {
 margin: auto;
}
and centered content of col-md-12 in own way. Now it's ok. I think we shouldn't edit your .cal-heatmap-container and it all be fine. Thanks for great work :)

[2015-02-06 10:26] infacq opened #133 "Weird empty cell"
![untitled](https://cloud.githubusercontent.com/assets/1596891/6077802/87b2cc82-ae2d-11e4-96d8-f23d847a8a94.png)

see year `2012`, there is weird empty cell between cell 17 and 26

and the problems always happen at the end of the year. (see the first domain at the most left)

![untitled](https://cloud.githubusercontent.com/assets/1596891/6077909/b5f10748-ae2e-11e4-8e7b-06d093d5a08f.png)

[2015-02-06 20:28] kamisama commented on #133
What's the used domain and subDomain ?

[2015-02-07 19:22] sfdev21 opened #134 "Navigation Issue with Next and previous functionality"
Hi,
I have  next and previous button on my calender to load next and previous month calenders and using next and previous method for that. Some time if you click on next and previous button too quickly then calender does not loaded properly and a blank calender is loaded. Here is issue screen (oct, nov month).

![chart screen](https://cloud.githubusercontent.com/assets/10900152/6093606/39aa2954-af

[2015-02-08 07:24] infacq commented on #133
domain is year and subdomain was week

[2015-02-11 10:06] infacq commented on #133
hi is this still a bug

[2015-02-18 20:55] JoabMendes opened #135 "Select multiple subdomains"
I would like to build a time range selector using the chart. (Select a range of days)
So, is it possible to make multiple selection of subdomains using the mouse?
If it's, how can I do that?

[2015-02-19 13:10] erolg opened #136 "Missing Directories in 3.5.2"
The last release (3.5.2) there is no such a file or directories which is named node_modules
```<script src="../node_modules/qunitjs/qunit/qunit.js"></script>```
```<script src="../node_modules/jquery/jquery.min.js"></script>```
So test/index.html shows nothing.

[2015-02-19 16:29] kamisama commented on #136
You have to run `npm install` in order to install all the dependencies needed for the tests

[2015-02-19 16:31] kamisama commented on #135
Not possible yet. This is not the main purpose of this tool.

How will you use it ?

[2015-02-19 16:32] kamisama commented on #134
What settings for the animation did you try ?

[2015-02-19 16:34] kamisama commented on #133
What does the number inside the cells represent ? The value ? Or a date ?

[2015-02-19 16:46] sfdev21 commented on #134
I tried increasing animationDuration from 500 to 1000 and more. Also tried with lower value animationDuration by setting to 0-500 (10, 100...) but no luck.

[2015-02-19 21:11] JoabMendes commented on #135
I found another way to select the range using the chart. Isn't sophisticated as I was expecting but solved the problem. The user can click in two subdomains and I highlight the other subdomains within these two clicked subdomains. It's not dragging as I wished, but works. :+1:

[2015-02-19 21:23] #135 closed

[2015-02-20 04:09] kamisama commented on #134
Maybe you can try with a lower or 0 animationDuration, and disable the navigation button on click, then re-enable then after the navigation, with the `afterLoadNextDomain` and `afterLoadPreviousDomain` events.

[2015-02-20 16:59] sfdev21 commented on #134
It doesn't help because those methods are called just before calender is loaded, may be they are triggered as soon data is loaded.

[2015-02-23 10:43] sreej32h opened #137 "custom domain ?"
is it possible to show data of a particular number of days instead of a month domain and day sub domain ? i want something like paginate 20 days of data with day sub-domain

[2015-02-24 02:33] kamisama commented on #137
No, you have to show the whole month

[2015-02-24 08:27] infacq commented on #133
value of integet

[2015-02-24 20:50] erolg commented on #136
Thanks :)

[2015-02-24 20:50] #136 closed

[2015-03-04 12:43] metanav opened #138 "Data from POST api"
I am fetching json data from an API which supports only POST. How can I achieve this?

[2015-03-08 19:14] hampsterx opened #139 "nodejs?"
is there anything stopping this from working on the server side?
Haven't tried yet :)

[2015-03-08 19:54] kamisama commented on #139
How will you use it on NodeJS ?

The graph is only useful when rendered inside a webpage.

[2015-03-10 19:47] hampsterx commented on #139
a couple of cases for server side rendering to svg/png

- inclusion in reports (pdf)
- inclusion in other online documentation (markdown readme file is my use case)

Happy to have an initial hack if you can suggest a starting vector

[2015-03-10 20:09] kamisama commented on #139
I'm afraid I'm not familiar enough with nodejs to help you with this.

[2015-03-13 00:06] vnen commented on #133
I have the same problem (missing October 19):

![Missing cell](https://cloud.githubusercontent.com/assets/5599796/6630766/73dbebec-c8fb-11e4-9a31-0482099ccb50.png)

[2015-03-13 00:27] vnen commented on #139
@hampsterx the major problem is that the heatmap need a selector (an actual element) to be inserted. It might work if you use [jsdom](https://github.com/tmpvar/jsdom) to create a virtual DOM in the server. [This guide](http://mango-is.com/blog/engineering/pre-render-d3-js-charts-at-server-side.html) might help.

[2015-03-18 04:33] ashwintumma23 opened #140 "A simple and a clear example requirement"
Citing a clear and complete example of usage will definitely be of immense help to the users than redirecting the users to places with no clear directions!

[2015-03-30 11:02] kamisama commented on #140
Where are the users redirected ?

[2015-04-02 15:41] Cyr69 opened #141 "Translation"
What that is possible to translate months and text into French ?

[2015-04-02 15:55] kamisama commented on #141
Use the moment.js library to format the dates

[2015-04-02 16:03] Cyr69 commented on #141
How can I use it?

[2015-04-02 16:09] kamisama commented on #141
Take a look at http://kamisama.github.io/cal-heatmap/#subDomainDateFormat

[2015-04-03 07:39] Cyr69 commented on #141
Nice job ! Thank you :)

[2015-04-03 07:39] #141 closed

[2015-04-03 09:54] Cyr69 opened #142 "Color custom by value"
Hello,

What that is possible to define personalized colors and to attribute him according to the associated values?
At present, we can make only of the gradation.

Example :
var my_data = {
        "1338847200":10
        ,"1338933600":20
        ,"1339020000":20
        ,"1339106400":20
        ,"1339192800":20
        ,"1339279200":30
        ,"1339365600":30
        ,"1339452000":30
        ,"

[2015-04-03 12:38] kamisama commented on #142
Yes

Define a legend for each of your colors with the `legend` option: http://kamisama.github.io/cal-heatmap/#legend

Example:
[code]

This will create a legend with 5 differents colors for each of you values:

* .q1 : < 15
* .q2 : between 15 and 25
* .q3 : between 25 and 35
* .q4 : between 35 and 45
* .q5 : > 45

Now, open the CSS file, and create these classes

[code]

[2015-04-07 14:49] Cyr69 commented on #142
It okay ! Thank you !

[2015-04-07 14:49] #142 closed

[2015-04-19 00:58] thomasleveil opened #143 "missing class .q1 on text elements"
I'm struggling to change the text color for a cell. I could customize the background color with

[code]

but it seems there is no way to take control of the text. I tried the following:

[code]

Could not the `.q2` class be set on `text` elements as they are for the `rect` element?
Or am I missing something obvious?

[2015-04-19 11:58] kamisama commented on #143
The text have the class: `.subdomain-text`. Maybe try with

[code]

[2015-04-19 20:45] thomasleveil commented on #143
that doesn't work as the element with the `subdomain-text` class isn't a children of the element with the `q2` class. Here's how it is:

[code]

Usually the [CSS `+` operator][css+] would allow to match a sibling, but this does work in this case (maybe because of SVG?)

[css+]: https://developer.mozilla.org/en-US/docs/Web/CSS/Adjacent_sibling_selectors

[2015-04-19 20:58] kamisama commented on #143
So, finally, it works ?

On Mon, Apr 20, 2015 at 12:45 AM, Thomas LÉVEIL <notifications@github.com>
wrote:

[2015-04-19 21:01] thomasleveil commented on #143
sorry typo, it does not work

[2015-04-24 07:03] bobrabih opened #144 "RTL Support"
First of all, I would like to thank you for your great work .
I want to render this calendar from right to left .
Any help plz ..

[2015-04-25 07:02] mmunchandersen commented on #1
my 5 cents: http://stackoverflow.com/questions/29860376/why-does-my-cal-heatmap-not-not-display-data

[2015-04-26 10:06] kamisama commented on #143
Try with

[code]

[2015-04-26 10:11] #140 closed

[2015-04-26 10:14] kamisama commented on #140
There's practically a working example for each features, along with the associated source code in the documentation.

[2015-04-26 10:23] kamisama commented on #138
It is not supported yet.

[2015-04-26 10:24] #137 closed

[2015-04-26 10:27] kamisama commented on #116
`scale` is not a valid option for the v3 version. Use `legend` instead

[2015-04-26 10:27] #116 closed

[2015-04-26 20:48] thomasleveil commented on #143
Thank you, it works. I opened a PR to add this tip to the doc

[2015-04-26 23:55] devo5teee commented on #144
+1

[2015-04-27 09:44] #143 closed

[2015-04-27 09:47] kamisama commented on #144
You're talking about RTL, as in arabic RTL, or just reverse the presentation order of the domain, and keeping the subdomain order ?

[2015-04-27 16:16] k-nut opened #146 "Specify number-format for subDomainTitleFormat"
You provide the `subDomainDateFormat` that lets the users format the date according to their needs. It would be nice to have a `subDomainCountFormat` so that the values can be formated as well (e.g. German uses a `.` as 1000-delimiter and `,` as fraction delimiter as in `10.000,20`).
If you agree that this would be useful I can send in a small pull request. Just wanted to make sure that this funct

[2015-04-28 10:26] bobrabih commented on #144
yes arabic RTL

[2015-05-14 07:15] NaniA opened #147 "Support bootstarp 3.3"
Hi,
Currently we are using cal-heatmap in our application.

We are going to use Metronics theme with bootstarp 3.3.in our application

please let us know the compatability with cal-heatmap with bootstarp 3.3.

If not currently supported is there any planned items in roadmap ?

[2015-05-14 15:57] kamisama commented on #147
cal-heatmap does not depend on bootstrap

[2015-05-17 18:19] #147 closed

[2015-05-17 20:35] #138 closed

[2015-05-17 20:43] kamisama commented on #146
What values that option would be formatting ? The values inside the cells, or the values in the title ?

It would be interesting to allow more formatting options, such as the decimal mark too.

[2015-05-17 20:45] kamisama commented on #128
Closing, as inactive

[2015-05-17 20:45] #128 closed

[2015-05-17 22:02] kamisama commented on #146
Take a look at https://github.com/mbostock/d3/wiki/Formatting, it may help

[2015-05-18 07:21] hansgru commented on #128
using the solution described at #18 on can generate a pdf (and print it) without problems.

Maybe the docs need to be improved a little to point this out.

[2015-05-24 15:27] borjita1 opened #149 "How to interact with a calendar several times"
Hi,

First of all, this heatmap is awesome!!! Congratulations to who built it!

My problem is that I don't know how to interact with a calendar several times.

When I first load the site, I create an empty calendar like this, which works perfectly:

var cal = new CalHeatMap();
   cal.init({
   itemNamespace: "cal",
    domain: "month",
	/*afterLoadData: parser,*/
    start: new Date(2012, 0),
	cel

[2015-05-24 17:50] kamisama commented on #149
The answer is on the first line of your example:

    var cal = new CalHeatMap();

`cal` is the variable, enabling you to interact with the same instance of cal-heatmap.

You `reloadcalendar` function should not re-init the calendar, but just update it, using

`cal.update(url.json)`

All available methods are documented on http://kamisama.github.io/cal-heatmap/#methods

There is no way to auto-det

[2015-05-27 14:39] zikis commented on #79
Can you please explain the way to center the heatmap in its container (like col-md-12) and keep the tooptip aligned with it ?

[2015-06-15 03:02] jasonirwin opened #151 "Show only weekdays"
Is it possible to hide weekends and effectively only show weekdays (domain: month, subDomain: x_Day)? If not, would you accept a pull request for something along the lines of a x_Weekday subDomain?

[2015-06-15 06:27] kamisama commented on #151
It is not possible in the current version. But you could always display them in another special color.

weekday subdomain makes sense, you could try it.

[2015-06-15 06:34] kamisama commented on #79
@zikis, did you try my jsfiddle for the tooltip ?

To center, add `margin: 0 auto` to `cal-heatmap-container`.

[2015-06-24 23:38] infacq commented on #129
this issue still has the issue. Could you fix for AMD

[2015-06-25 07:56] Yorgg opened #152 "Possible to display additional info on cell hover?"
I am building a daily task manager - could I use cal-heatmap to display the daily tasks when the cell is hovered?  So on a mouse hover (for each cell) it would display that day's results:

2 out of 2 tasks completed on 2014, January 24.
1. Take out garbage
2. Mow the lawn

Thanks.

[2015-06-26 03:35] infacq opened #153 "Uncaught TypeError: Cannot read property 'v' of undefined"
do you mind check this line

[code]

[2015-06-26 18:52] jkarimi91 opened #154 "Tooltip does not align"
I am trying to center the heatmap, however, the tooltip becomes misaligned in the process.
[code on jsfiddle](http://jsfiddle.net/jkarimi91/73b6djqa/1/)

[2015-06-26 18:57] kamisama commented on #154
Jsfiddle not working ?

[2015-06-26 18:59] jkarimi91 commented on #154
sorry I posted the wrong jsfiddle link, I corrected the link; take a look, the tooltip does not realign

[2015-06-26 19:15] kamisama commented on #153
What kind of data are you trying to pass ?

[2015-06-26 19:34] kamisama commented on #152
It's not possible right now, as cal-heatmap does not store your todo list informations. It can by adding a callback on cell hover. Coming later

[2015-06-26 20:11] cherrylipstick commented on #48
I also have a similar issue, I want 'day' as domain, but I don't want 'hour' as subdomain, I want the subdomain to be my own data, is it possible?
In the example attached I need family members to be the 'subdomain'...

![screen shot 2015-06-26 at 17 09 56](https://cloud.githubusercontent.com/assets/5595322/8386376/450be870-1c26-11e5-9870-eb8a5ba2e1c0.png)

[2015-06-26 20:16] cherrylipstick opened #155 "Custom subDomain for 'day' as a Domain"
I want 'day' as domain, but I don't want 'hour' as subdomain, I want the subdomain to be my own data, is it possible?
In the example attached I need family members to be the 'subdomain'...

![screen shot 2015-06-26 at 17 09 56](https://cloud.githubusercontent.com/assets/5595322/8386473/07fb9380-1c27-11e5-8b74-df890231e208.png)

[2015-06-26 21:03] kamisama commented on #48
@cherrylipstick, no, it's impossible, as subdomain will always remain a time unit.

[2015-06-29 01:27] infacq commented on #153
here is the setup for calendar
[code]

and  this one is the data sample
[code]

[2015-06-30 06:13] infacq commented on #95
I am in Asia/Kuala_Lumpur. Still face the same problem

[2015-07-01 22:45] WinnieK opened #157 "Resizable or scalable calendar"
Hello.

Is there any way to make the calendar a bit more responsive on window resize? The problem is that without this feature, it's pretty uncomfortable to use it in liquid full width page layouts. Maybe you can guide me in the right direction? Since it's SVG, probably there is a way to scale cells depending on window size or hide blocks under "next" button, or something like this?

Thanks

[2015-07-02 01:52] kamisama commented on #157
Responsive calendar is not supported yet.

See similar issue #100 and #94

[2015-07-02 01:52] #157 closed

[2015-07-12 12:16] pradyunsg commented on #100
Bump.

Requesting for some way to change options after init, without needing to replace existing heatmap.

[2015-07-12 18:01] kevinhooke opened #158 "Dynamically changing properties set during init()"
Is it possible to change any of the values when you first call init(), like domain? I'd like to display the heatmap initially with domain='month', but allow the user to select the domain value of say day/week/month and have the heatmap redisplay. If you call init() again it creates a new heatmap, so what is the approach to change these properties after you've called init the first time?
Thanks!

[2015-07-13 07:26] kamisama commented on #158
Currently, recreating the calendar is the only way.

[2015-07-14 00:02] RyanD1 opened #159 "Possible to make the cells/hover text clickable to a url?"
First of all thanks for the great work!! The calendar is extremely handy and flexible, masterpiece. Way too useful for front-end newbies like me.

Is it possible to add the linking feature sometime though? I was trying to do it myself but the source code is just too hard for newbies like me.. I might have to figure out a way to get around that.

[2015-07-14 00:16] #159 closed

[2015-07-14 06:29] mustafaozguner opened #160 "Documentation Website is not working"
The error is : GET https://d3js.org/d3.v3.min.js net::ERR_CONNECTION_TIMED_OUT

Can you fix it soon ?

[2015-07-14 07:59] kamisama commented on #160
Try the http version as a temporary fix: http://kamisama.github.io/cal-heatmap/

[2015-07-14 19:18] jkarimi91 commented on #154
@kamisama  any updates?

[2015-07-15 10:40] kamisama commented on #160
Fixed, both http and https version should works now.

[2015-07-15 10:40] #160 closed

[2015-07-15 10:43] kamisama commented on #92
Quick update: everything seems to works perfectly up to 3.5.6 (latest version as of 15/07/2015).
The documentation website run on 3.5.6

[2015-07-15 10:44] #149 closed

[2015-07-15 10:46] kamisama commented on #113
See #134

[2015-07-15 10:46] #113 closed

[2015-07-15 10:46] #110 closed

[2015-07-18 16:27] kevinhooke commented on #158
Ok, thanks. Any plans to include this as an enhancement in a future release?

[2015-07-20 21:44] kamisama commented on #155
No, cal-heatmap is focused on the "calendar" concept

[2015-07-21 02:04] mobeets opened #161 "month > x_week label bug"
I'm having problems displaying data with `domain: 'month', subDomain: 'x_week'`.

When the label is on the bottom (the default), the labels are not on the same level and I'm not sure how to fix this. But then when I try to move the label to the top, suddenly some of the cells for certain months get chopped off.

See here: https://jsfiddle.net/mobeets/5d74u0uk/4/

[2015-07-22 21:31] #161 closed

[2015-07-23 14:23] shakaw commented on #50
any news?

[2015-07-23 15:02] kamisama commented on #50
Not yet

[2015-07-29 17:21] philstrong opened #162 "onResize event"
Would be nice to have a onResize event fire that you can add handler for in the init.

Especially if it returned height and width.

[2015-08-08 10:21] mkcedward opened #164 "Customize interval"
When using hour as domain and minute as subdomain, there will be 60 cells in every one hour. Does it able to support different interval? For example, when setting interval as 5, number of cells per hour will become 12?

Thanks.

[2015-08-14 12:40] GPSMAGIC opened #166 "When setting colors to legend highlighting doesn't work"
The highlight class is not added when highlight dates are set and legendColors is set.

[2015-09-15 09:16] vshankaa opened #168 "Data is not loading from CSV"
My data is saved on a SharePoint which requires login, along with the "html" and other library files. It's in CSV format and it's not loading.

The calendar is drawn and the hour value is shown. However when the heatmap is generated. When I checked in console, the data is not getting loaded. In the function referenced in afterLoad (GAconverter) is throwing error for 'data.length'. 'data' is showin

[2015-09-16 15:51] devcollectief commented on #102
I created a pull request that allows for this functionality #169

[2015-09-17 22:58] RaulTsc opened #170 "Wrong init to undefined of d3 var"
So, I have this chrome app which basically blocks website content by displaying other content on top of it. In that content there is also a cal-heatmap.

The issue:
I inject everything 'artificially' into the websites, so for the heatmap I need d3.js and cal-heatmap.js. I first inject d3.js, and then cal-heatmap.js. Now here's the thing, at line 6 in cal-heatmap there is ``` var d3 = typeof requir

[2015-09-17 22:59] RaulTsc commented on #170
Also I should mention that my simple fix was to just comment that line, I think you just need to check if window.d3 already exists

[2015-10-09 18:31] tdotcspot commented on #100
+1

[2015-10-12 05:51] wngravette opened #171 "cal.previous not working properly"
when I use the cal.previous method, it successfully shifts the calendar back, however no data is displayed, whereas without the method, the data displays fine.

[2015-10-12 09:14] wngravette commented on #171
I built my solution around programatically calculating the previous month and defining that as the start attribute
[code]
But the cal.previous functionality, unless I'm misunderstanding it, would obviously be cleaner if you care to investigate.

[2015-10-13 15:56] benhutchins commented on #126
I was seeing this same issue in [Gitlab](https://gitlab.com/gitlab-org/gitlab-ce/issues/1943) and was able to determine it was based on the user's timestamp, when converting a timestamp that is at midnight (example [1372791600](http://www.unixtimestamp.org/1372791600)) by doing `new Date(1372791600 * 1000)` you will get a date that has the difference that is your the timezone of your browser clien

[2015-10-29 03:39] nahankid commented on #154
Tooltips are not aligning even with the latest release

[2015-11-03 05:13] smartmeter opened #172 "Increase /Style the size of the text in Domain Label"
Hello, how can I
*  increase the size of the text of the **DomainLabel users are find it hard to read**
*  make it high contrast and Bold

Also, is there a way to add month labels to the  calendar
Domain: year
SubDomain: Day

[2015-11-03 07:21] wa0x6e commented on #172
To style the domainLabel, use the css:

[code]

[2015-11-07 20:03] smartmeter commented on #172
:+1: thanks.

[2015-11-07 20:03] #172 closed

[2015-11-07 20:07] smartmeter opened #173 "Only display items with value"
I am displaying the entire year as a row, this works fine!

In the row, how can I display

1      *only that items that value (value is not null or greater than 0)*,  show the Dates & Value  for e.g. if there only 40 days with value in a year, I only want to render those days - in the 1 row format.
2      How can I display the `item`  `Date and Value` a) as `vertical top option` above the item ver

[2015-11-09 10:25] vshankaa opened #174 "How to change rect colour"
Is it possible to change the colour of a specific rect (day or hour)? Let's say I want to fill 9-Nov-2015 with red or 4PM of a day in red, is this possible to do? Thanks.

[2015-11-09 11:38] wa0x6e commented on #174
There is a `highlight()`. If it does not fulfill your need, you have to use css to target the domain (http://cal-heatmap.com/#domain-highlight), then use `g:nth-child()` to target your rect.

[2015-11-09 11:42] wa0x6e commented on #168
In the network tab of your inspector, does the csv load ?

[2015-11-09 11:45] wa0x6e commented on #170
How do you inject d3js and cal-heatmap ? Are you using document.write('<script>') on the <head> ?

[2015-11-09 11:53] vshankaa commented on #168
Magically it's working now! Unfortunately I wasn't able to figure out what the problem was.

[2015-11-09 12:46] vshankaa commented on #174
Thanks for the quick response. I'm not able to reference to elements created by the heatmap. Would you please give a live example for better understanding? Really appreciate your help. Thanks.

[2015-11-09 12:47] RaulTsc commented on #170
https://github.com/RaulTsc/WorkflowEnforcer/blob/master/scripts/content_scripts/block.js#L38-L71

[2015-11-13 08:43] wa0x6e commented on #174
Look at http://cal-heatmap.com/#domain-highlight for how to highlight domain.
Then use `g:nth-child()` to target the specified rect. You have to use `fill` and not `background-color` to style svg element.

[2015-11-13 08:46] wa0x6e commented on #173
1 -  You can not only display some dates, the whole calendar is always rendered, that's the point of a heatmap.

2 - I don't get what you mean

[2015-11-13 08:46] #168 closed

[2015-11-13 09:01] wa0x6e commented on #166
Can you post a jsfiddle ? I can not reproduce: http://jsfiddle.net/Kamisama/YDFyQ/91/

[2015-11-15 03:59] smartmeter commented on #173
2.  Imagine a *single row* of all dates/items 20px in the year. I want to display a date of each items above the cal-map items like this http://4.bp.blogspot.com/-L15OXwCdmbE/UrBbp0l_i7I/AAAAAAAAq_8/BLgu6zOFKFU/s1600/vertical_text.png

[2015-11-17 01:44] lops commented on #154
for what it's worth, this worked for me (sorry if its a bit hack-y)...
added these two lines after 899.
var offsetWidth = domainNode.parentNode.parentNode.parentNode.parentNode.offsetWidth - domainNode.parentNode.parentNode.parentNode.offsetWidth;
tooltipPositionX = tooltipPositionX + offsetWidth / 2;

[2015-11-20 14:20] mahadi opened #175 "Calendar week column descriptor"
First of all, thank you for your great job!

I am drawing a calendar with year domain and day subDomain.
Now i would like to display the CW over each column of the calendar.
But this also requires that the domains need to have no space between the years.

I didnt find a way to realize this with the current master branch.
Did i miss something or is this a new feature?

[2015-11-23 06:56] wa0x6e commented on #175
It's currently impossible for the moment

[2015-11-24 12:22] nunoooo commented on #48
Hello, love heat map, but could it display 30 days from the present date, with only one square as subDomain, instead of 24h?

So far i manage to do this:
![sem titulo](https://cloud.githubusercontent.com/assets/15262672/11366569/eb7deaa0-92a5-11e5-8dce-e582114e5443.png)

I've tried to edit further but with no success.

[2015-11-24 12:48] wa0x6e commented on #48
You can't. Calendar always start at the start of the domain, e.g 1st of each month, day, etc ...

[2015-11-24 12:50] nunoooo commented on #48
hum, ok, and if instead of day/hour, i use month/day, could i put a label for the day in the subDomain?

[2015-11-24 12:52] wa0x6e commented on #48
what kind of label ?

[2015-11-24 13:58] nunoooo commented on #48
so, a domain with the label of the month, and a label for the subDomain with the day

more or less this ex:
O       O     O      O     O        O
21    22    23    24     25      26
                  Nov

[2015-11-24 14:00] wa0x6e commented on #48
yes, you can, but it'll display the whole month

[2015-11-24 14:01] nunoooo commented on #48
Not a problem, could you point me out where to do that?

[2015-11-24 14:15] wa0x6e commented on #48
Use the month domain, and days subdomain, then use colLimit: 1

http://wa0x6e.github.io/cal-heatmap/#colLimit

[2015-11-24 14:24] nunoooo commented on #48
Awesome, i also found how to add the label inside, cheers mate very helpfull.

[2015-11-25 14:26] suveshJ opened #176 "Responsive view for Cal-heatmap chart"
Hi,
I'm working with Cal-heatmap chart and I'm displaying the Months i.e 3 months in a row. In normal view it is working fine for responsive view i have tried this (https://github.com/wa0x6e/cal-heatmap/issues/100) by reducing the cellSize to 20 but it is  displaying the huge gap between the rows.

Normal View
![normalview](https://cloud.githubusercontent.com/assets/15652685/11399355/d81d6370-93ac

[2015-12-04 05:12] vshankaa opened #177 "How to change domainLable font size / colour?"
How to change domainLable font size / colour?

[2015-12-04 06:10] vshankaa commented on #177
Found this: https://github.com/wa0x6e/cal-heatmap/issues/172

Sorry for the duplicate thread.

[2015-12-04 06:10] #177 closed

[2015-12-08 22:49] jpattisoninc opened #178 "Documentation Site Typo"
In the DATA section, second code block:

[code]

:)

[2015-12-10 07:53] wa0x6e commented on #178
Fixed

[2015-12-10 07:53] #178 closed

[2015-12-10 07:55] wa0x6e commented on #176
Can you inspect the element, and see what element is causing the gap ? Is it because there is a margin/padding in the css, or is the svg element height not resized ?

[2015-12-15 18:19] auipga opened #179 "Wrong calculation for sums"
in cal-heatpmap.js:2613 there is `if (!isNaN(subDomainsData[index].v)) {` but the if/else case is switched, it has to be `if (isNaN(subDomainsData[index].v)) {` without the `!`.

This bug results in values like
- `null1` (null + 1) instead of `1`
- `111` (1+1+1) instead of `3`

I'm using latest v3.3.10

[2015-12-23 07:08] yangpu commented on #129
This issue is there when concat it into bundle file by r.js optimizer.

[2015-12-28 06:57] vlux commented on #59
@marcopovitch
I encountered this bug today and use this code to set the rest rect to grey or whatever color u want.
`
$(".graph>svg>svg>g>rect:not(.r1,.r2,.r3,.r4,.r5)").css("fill","#ededed")
`
Hope it's useful for u

[2015-12-31 03:26] kbullaughey opened #180 "Non-standard encapsulation and require() use."
I was interested in using cal-heatmap as part of an [emberjs](http://emberjs.com/) project. However, the line that requires d3 proved a problem:

[code]

In ember projects, `require` exists, but it's designed to work with its own system of modules. I'm curious if there's interest in a somewhat more standard encapsulation of cal-heatmap. I adjusted the code into what [seemed like a common format](h

[2016-01-05 03:19] aprilb commented on #153
@infacq Did you ever get this resolved?

[2016-01-16 04:52] anand-patel commented on #152
+1

[2016-01-16 09:00] rcaloras commented on #154
+1 would love a fix.

[2016-01-20 11:43] MadLittleMods commented on #158
:+1:

[2016-01-22 08:44] vlux commented on #154
Hey Guys
I encountered this bug as u.
My range is 7. When I set the `width:900px` for `#cal-heatmap` as [This Issue] (https://github.com/wa0x6e/cal-heatmap/issues/79) mentioned. The tooltip align as normal. However the svg was drawn beyong the `#cal-heatmap` which is only 900px width.

So I use the code below to adjust the svg position.
[code]
U can put this code in the 'document.ready()' or 'wind

[2016-01-27 03:58] snumb130 opened #181 "Hiding future dates"
Is there currently a way to hide subdomains that are in the future?  For example, with subdomain of `day` could days past the current day be hidden?

[2016-01-27 07:06] wa0x6e commented on #181
You can "hide" them visually by giving them the same background color as your page

[2016-01-27 12:09] snumb130 commented on #181
Is there a way to target future days when setting color

[2016-01-27 12:20] wa0x6e commented on #181
They have `.future` class

[2016-01-27 13:38] snumb130 commented on #181
Thanks.  Not sure how I overlooked that.  I feel a little sheepish. Closing.

[2016-01-27 13:43] nimaen commented on #122
Up ? It's been a year now, have you been able to have a look at it ?

[2016-01-27 13:51] snumb130 commented on #181
When looking it appears that the current date also has future.  Does this have anything to do with time settings?

[2016-01-27 14:15] snumb130 commented on #181
So what I found was the current subdomain had `.future` class.  I can add the `highlight: "now"` option and the future class goes away and `.now` is added.  This allows for the appropriate styling.

[2016-01-27 14:15] #181 closed

[2016-01-27 14:52] snumb130 commented on #181
It seems like the `.now` class should be on the current date no matter what and `.future` should never be on the current date.

[2016-01-27 14:57] snumb130 opened #182 ".future class is on current date"
The `.future` class is shown on the current date.  If you use `highlight:now` then the `.future` class is no longer on the current date.  It seems that the `.now` class should be on the current date at all times.  Then only add the `stroke: red` style when `.now` is used with `.highlight`.

[2016-01-28 06:50] lots0logs opened #184 "Revisit adding an option to eliminate all whitespace between domains."
This was mentioned a couple years ago on #54 but I was hoping that it could be revisited. I understand there are a lot of factors involved with ensuring that nothing breaks if such an option were implemented. I also realize that the example I am about to provide is but one of countless possibilities that the plugin would see while in general use.

With that said, take a look at the chart on [this

[2016-01-28 08:24] lots0logs commented on #184
What about allowing the user to set an offset in px (positive or negative)? Is it possible to move the elements over by a set pixel value if the user provides the value?

[2016-01-28 08:26] wa0x6e commented on #184
It's not possible, because the whitespace is not always here. it's only
here if the month does not end on sunday/saturday, depending on use locale.

On Thu, Jan 28, 2016 at 12:24 PM, Dustin Falgout <notifications@github.com>
wrote:

[2016-01-28 08:34] lots0logs commented on #184
Hmm..okay I see that now. I wonder how github does it then :disappointed:

[2016-01-28 08:57] wa0x6e commented on #184
Github does not have navigation, make everything seems easier

On Thu, Jan 28, 2016 at 12:34 PM, Dustin Falgout <notifications@github.com>
wrote:

[2016-02-07 19:16] leoncvlt opened #185 "rowlimit doesn't seem to work with "_x" subdomains"
As the documentation says, the x_ variants are used to rotate the reading order.

When doing that columns become rows and viceversa - the `colLimit` attribute controls the number of rows to split the domain into.

`rowlimit` should then control the number of columns, but doesn't seem to work, the column number resolves to the default value.

I am using only `rowlimit` in the options, in a `month`

[2016-02-08 10:02] #185 closed

[2016-02-08 10:04] leoncvlt commented on #185
Nevermind, I had some mistakes in my code, it works correctly!

[2016-02-09 17:12] leoncvlt opened #186 "keep styling on q{n} selectors when value transition"
I can give the text on cells with a value a specific style using the css selector

[code]

(I know the documentation says "q{n}" but it didn't work and after checking the page with the console the class is called "r{n} on the page... anyways)

Problem is that when I increase the value on that cell, the digit in the `r` class increases during the transition and goes into decimal values and thus los

[2016-02-29 03:44] crapthings opened #188 "How to change date label in different language ?"
week and month

[2016-02-29 20:08] robbybooker opened #189 "Tooltips appearing in the wrong place"
Hi!

This is a great component but I'm having trouble with the tooltips. I have 13 calendars on a page, each showing a single month and all working fine except that the tooltips for the days for ALL the calendars appear over the first calendar to be created. They appear over the correct day (roughly) in each month but over the wrong calendar (the first). The item selector for each calendar is a un

[2016-03-18 10:07] wa0x6e commented on #189
Can you try adding a `position: relative` to the calendar container ?

[2016-03-18 10:11] wa0x6e commented on #188
`domainLabelFormat` can take a function. Get the data, then return whatever you want

http://cal-heatmap.com/#subDomainDateFormat

[2016-03-18 18:32] nyquist212 commented on #189
I'm experiencing similar problems with heatmaps in Bootstrap "sections". `position:relative` didn't work for me.

[2016-03-18 18:37] robbybooker commented on #189
Thanks. I'll try position:relative. I have however pinned the problem down to floating. I have several calendars inside the same containing div and these are all are set to float left to make the page more 'responsive'. It seems that floating left causes the tooltips for all the calendars to be associated with the first calendar that appears in the container. I need to experiment more but unfortun

[2016-03-18 18:53] nyquist212 commented on #139
Have you seen this? http://mango-is.com/blog/engineering/pre-render-d3-js-charts-at-server-side.html

[2016-03-19 12:57] JasperTey opened #190 "Two AJAX requests sent when fetching data from API?"
Whenever data is fetched from the API, two ajax requests appear to be sent (with the first one aborted/canceled).

Is this happening to anyone else? It does this consistently, on my end.

[2016-03-21 18:19] digitaleyes00 opened #191 "How to add labels to a subdomain above the graph"
Hi, I am trying to add labels to the subdomain rather than the domain and need to do so above the graph. I want to label the time as I have a row that is a day with 24 boxes that are hours. I have put the hour in the boxes themselves but this is not the desired effect. I want to just put the time once per column above the graph. Please see this stack overflow post which further explains my issue w

[2016-03-21 18:57] wa0x6e commented on #191
For now, you can't

[2016-03-21 19:21] digitaleyes00 commented on #191
Okay, thanks for the quick reply. Feature request?

[2016-03-21 21:29] wa0x6e commented on #191
Already on the todo list

[2016-03-22 17:22] rakeen opened #192 "Module Not Loading in AMD"
#### Update:

I was wrong. `cal-heatmap` doesn't seem to be support amd module format.
I replaced the module format from `amd` to `cjs`(commonjs) and it worked.

[code]

**Here is a [plukr](http://plnkr.co/edit/ZKkd27eUzYnqZELQnTWI?p=preview) that reproduces the problem.**
## <br>

<br>

I'm using Systemjs to load the cal-heatmap library in an angular 2 app.

This is what I get if I try to import\

[2016-03-22 20:46] wa0x6e commented on #192
I'm not familiar with SystemJS, sorry

[2016-03-22 21:14] rakeen commented on #192
Is it okay to return a function in the amd-module-define callback?
I've seen in other libraries(like [d3js](https://github.com/mbostock/d3/blob/master/d3.js#L9553)) that they return an object. Do you think that might be a problem?

[2016-03-23 06:07] rakeen commented on #192
Hi, I was right that cal-heatmap exports a function not an object.

[2016-03-23 08:00] rakeen opened #193 "Custom Starting Date"
It [looks](http://wa0x6e.github.io/cal-heatmap/#start) like I can't control the exact starting and ending date. The library by default rounds the date. i.e If my `domain:year` and `subDomain:day`, and if I want to start the calendar from a specific date(not the 1st of Jan), I can't do that.

I want to make it like the github contribution calendar graph.
Any workaround for that for the time being?

[2016-03-23 15:52] snumb130 commented on #193
Maybe this could be achieved by adding a class to items that are before the start date specified.  Then these could be hidden with CSS.  Similarly to the thought process behind the `.future` class.

[2016-03-23 17:46] wa0x6e commented on #193
You could indeed hide the cell via css hidden, that's the only way to do it for now.
Feature is not so easy to implement, due to navigation

[2016-03-23 17:48] wa0x6e commented on #192
So, did you find a workaround, or is the module loading correctly implemented ?

[2016-03-23 19:45] rakeen commented on #192
Yes the module loading is correctly implemented :smiley:
You just have to import the CalHeatMap function instead of the whole object.

`
import CalHeatMap from '/cal-heatmap'
`

[2016-03-23 19:49] rakeen commented on #193
I was planning to get the svg and use d3! The css trick is much easier though.

[2016-03-25 04:34] outaTiME opened #194 "onComplete on update"
Will be great to get the option to execute the onComplete handler after update method execution.

onComplete handler is executed only once after initial.

please evalute to make something like that:

[code]

thks !!!

[2016-03-25 20:42] outaTiME commented on #108
+1

[2016-03-25 21:01] outaTiME opened #195 "Less / More on Legend"
Hi guys,

Will be great to get "less" / "more" text in legend like github contributions, any plan for that feature ??

thks !!!

[2016-03-27 20:29] outaTiME opened #196 "Display empty range in Legend"
Hi pal,

Must be usefull to display empty range in the legend (the gray at first) not only the available (defined) legend ranges something like github does:

<img width="162" alt="screen shot 2016-03-27 at 5 27 55 pm" src="https://cloud.githubusercontent.com/assets/140472/14067709/4864770a-f441-11e5-8fea-a79f6c29cc53.png">

thks !!

[2016-03-31 12:13] rakeen commented on #192
Hi, it seems that I wrong, it is infact not working as a `amd` module.
I've updated the issue.

[2016-04-04 08:55] ubersant opened #197 "Unable to reference json file in Data attribute but array list data works"
Hi, I am incorporating cal-heatmap in my asp.net website and all works fine as long as i am referencing data through an array, initialized as variable above the init method, however things stop showing up as soon as i create new text file in visual studio and rename it as datas-years.json and reference it in 'data' attribute, please help me ?

below is the working code, manually entered data in ar

[2016-04-04 10:51] wa0x6e commented on #197
Check that your json is a valdi json valid, with the correct http headers. Sending a plain text file, with .json extension will not work.

I don't get your last question, all time in your first example are already in seconds (eg: 1420498800)

[2016-04-04 11:05] ubersant commented on #197
@wa0x6e Thank you for the swift reply, admire your work on this . My json file has been attached here, please check if it has any issues, i think it's fine with same data array being pasted in new file named datas-years.json, please find it in attachments
![json](https://cloud.githubusercontent.com/assets/11734961/14246206/2aa9752e-fa83-11e5-9b23-190666212a25.JPG)

I didn't get your second comment

[2016-04-04 11:09] wa0x6e commented on #197
Open the developer console, and go to network tab. Then reload your page, and see how the json file is loaded.

This example is for the documentation website page:

<img width="541" alt="screen shot 2016-04-04 at 15 07 56" src="https://cloud.githubusercontent.com/assets/495709/14246269/1ab4dcc8-fa77-11e5-99ad-687aa92f986f.png">

Look how the json file are flagged as JSON.

[2016-04-04 11:18] ubersant commented on #197
@wa0x6e Thank you for that image, I could go ahead and check the same and the data attribute was  referenced as follows
            data:"datas-years.json",

and have attached the image please see, there was 404 error in the status tab
![capture](https://cloud.githubusercontent.com/assets/11734961/14246463/e670100a-fa84-11e5-9a6b-9dafa0b34403.JPG)

[2016-04-04 11:20] wa0x6e commented on #197
Yes, but if you look on the left, you'll see that the file is 404

[2016-04-04 11:21] wa0x6e commented on #197
Yes, 404 means file not found.

[2016-04-04 11:22] ubersant commented on #197
@wa0x6e Thus you mean it is not found, however I now understood the difference between my image and your image, your image shows status with success but mine 404, how do i go about it now ? That will be very helpful

[2016-04-04 11:27] wa0x6e commented on #197
It's an issue with your code, and I can't help you with that

[2016-04-04 11:29] ubersant commented on #197
@wa0x6e I don't think so, I am writing it correctly, below is the code

`<script type="text/javascript">
        var cal = new CalHeatMap();

        cal.init({
            data:"datas-years.json",
            itemName: ["volunteer", "volunteers"],
            start: new Date(2015, 0, 1, 1),
            //data: data,
            domain: "month",
            subDomain: "day",
            cellSize:

[2016-04-04 13:46] wa0x6e commented on #197
what do you see at http://localhost:3098/datas-years.json ?

[2016-04-04 13:49] ubersant commented on #197
@wa0x6e please be here for a while, i have gone a step ahead and will give you details in five minutes

[2016-04-04 13:56] ubersant commented on #197
@wa0x6e Hi, actually you rightly asked me the question as it was the lone problem, thing is i had to make some changes in the web.config file in my asp.net project and it started accepting .json format files. That was when i was able to see the json file details in browser path directly...however i am now stuck with error 304, i did bit of research but not understanding what that means exactly. He

[2016-04-04 14:01] wa0x6e commented on #197
Look at http://cal-heatmap.com/datas-years.json

The object should not be enclosed in an array

[2016-04-04 14:12] ubersant commented on #197
@wa0x6e okiz, so i remove the boxes around and run ? that shouldn't be a problem ? I tried running after unboxing the JSOn data, however still no luck, not seeing the dates yet highlighted as per json data...corresponding epoch dates are Feb 1st 2016 and Feb 4th 2016, they are not showing up in calendar

[code]

[2016-04-04 14:21] wa0x6e commented on #197
Seems like an issue that can come from anywhere. Can you reproduce it with a plunker/jsfiddle, or put your demo online ?

[2016-04-04 14:24] ubersant commented on #197
@wa0x6e sure i will do that now, but is it necessary to get jquery to make this work ?
![capture](https://cloud.githubusercontent.com/assets/11734961/14251105/ff9efedc-fa9e-11e5-8e9b-e56cdb32c278.JPG)

[2016-04-04 14:25] wa0x6e commented on #197
no

[2016-04-04 14:27] ubersant commented on #197
@wa0x6e also the whole calendar disappears the moment i start using itemselector ...and now even setting start date is also making it disappear....when it works it is starting the moneth from april, any reasons ?

[2016-04-04 14:34] wa0x6e commented on #197
Please reproduce with a jsfiddle or plunker

[2016-04-04 14:56] ubersant commented on #197
@wa0x6e Hi, issue has been reproduced here , calendar is not appearing now, please let me know if i have made any mistakes, thank you

http://plnkr.co/edit/52D0pF62vdHBPmQNVV5c?p=preview

[2016-04-04 15:10] wa0x6e commented on #197
See http://plnkr.co/hzUkCy053AuL0Bv1qRWU

Your data were not in the calendar range.

[2016-04-04 15:32] ubersant commented on #197
@wa0x6e  wow, that worked like charm...however i did something like this in jquery...your demo starts wid february...and the itemselector is not working in asp.net, dono why ..if i remove it no loss...pls check dis too and let me know if code is fine ? http://plnkr.co/edit/YcSEWPZ8KfG8BLbzWWgr?p=preview

[2016-04-04 16:25] wa0x6e commented on #197
Put the js after the <div> tag

On Mon, Apr 4, 2016 at 7:32 PM, Santoo <notifications@github.com> wrote:

[2016-04-04 17:27] ubersant commented on #197
@wa0x6e very much envy your support and time spent on this , how do i get you a beer ? also please gimme some details on getting the prev and next button working, as it is not working here http://plnkr.co/edit/YcSEWPZ8KfG8BLbzWWgr?p=preview

I only added button controls and related js as mentioned in your web page

[2016-04-04 18:59] wa0x6e commented on #197
In your Js, put everything inside document ready

On Mon, Apr 4, 2016 at 9:27 PM, Santoo <notifications@github.com> wrote:

[2016-04-08 14:47] ubersant commented on #197
@wa0x6e Sorry to start here again after a week almost. I was able to fix the issue with your help and it worked in dynamic environments.

I am now coming up with reference issue, I copied the whole page to a separate folder inside the project - > localhost:3098/admin

Admin is the folder under which there are many other pages, I want to run cal-heatmap here in one of the pages, i first created new

[2016-04-08 15:34] wa0x6e commented on #197
Check the network panel tab

[2016-04-08 15:46] ubersant commented on #197
@wa0x6e  I did, not able to see the text file at all..

[2016-04-08 15:47] wa0x6e commented on #197
JS code ?

[2016-04-08 15:51] ubersant commented on #197
![js](https://cloud.githubusercontent.com/assets/11734961/14389341/dc067c3c-fdcf-11e5-82b0-2863e08818e1.JPG)

[2016-04-08 15:52] wa0x6e commented on #197
what's the content of you javascript file ?

[2016-04-08 15:55] ubersant commented on #197
values.txt file
{
"1455494400": 8,
"1456272000": 2,
"1456358400": 1,
"1454716800": 1,
"1454803200": 4,
"1454889600": 7,
"1458345600": 17,
"1458518400": 1,
"1459900800": 2,
"1459987200": 1
}

js file

 <script>

                   (function ($) {
                       $(document).ready(function () {

                           var dt = [{"1455494400":8, "1456272000":20, "1456358400":4}];

[2016-04-08 19:17] wa0x6e commented on #197
You didn't even load the file in the js code, you're loading your data using a js array

[2016-04-10 15:27] ubersant commented on #197
@wa0x6e No the issue was in jquery referencing, silly mistake, I highly admire your support in this issue, made my life easier :) do you accept donations ? please let me know how to make one

[2016-04-12 11:16] GPSMAGIC commented on #152
Any news ?

[2016-04-23 19:42] PedroF20 commented on #50
news?

[2016-04-24 14:20] #182 closed

[2016-04-24 14:56] wa0x6e commented on #197
I have a paypal (wan@kamisama.me)

[2016-04-24 14:56] #197 closed

[2016-04-24 14:58] wa0x6e commented on #191
See #50

[2016-04-24 14:58] #191 closed

[2016-04-24 14:58] #188 closed

[2016-04-24 14:58] #174 closed

[2016-04-24 14:59] #175 closed

[2016-04-24 15:01] wa0x6e commented on #190
Is it a GET or OPTION request ?

[2016-04-24 15:06] wa0x6e commented on #173
Seems impossible currently, it's not in the scope of heatmap

[2016-04-25 15:41] JasperTey commented on #190
GET requests.

[2016-04-25 16:09] wa0x6e commented on #190
Is it hosted somewhere public so I can test/reproduce ?

[2016-05-13 13:50] maartendp commented on #190
Hey,
I have the same issue. Unfortunately, I don't have this hosted publicly but I can give you the js used.

        $('[data-type="graph"]').each(function(){
	        var el = $(this);
	        var cal = new CalHeatMap();
	        name = el.attr('id')
	        cal.init({
		        itemSelector: "#"+name,
        		domain: "month",
	        	subDomain: "day",
		        data: "/graph_data?graph="+

[2016-05-13 18:43] wa0x6e commented on #190
Is the first one aborted/cancelled too ?

[2016-05-13 18:46] maartendp commented on #190
Indeed. Exactly the same as above.

[2016-05-16 14:01] JoshKeegan commented on #154
:+1:

[2016-05-18 09:15] JoshKeegan commented on #90
I'm having the same problem.

Agree with @jamesburke-examtime that it looks like it's the legend title text that is wrong, with less than actually being less than or equal to etc... This (<=) is actually the behaviour I want (although perhaps it should be optional?), so it's just the title text that's wrong from my perspective.

Another thing with the legend is that if you're only using integers a

[2016-05-18 09:18] JoshKeegan opened #198 "Legend tooltip"
When tooltips are enabled, the legend still uses title text.
Not a massive problem, but it'd be nice if they also showed tooltips on hover.

[2016-05-18 09:18] JoshKeegan commented on #195
:+1:

[2016-05-18 09:19] JoshKeegan commented on #196
:+1:

[2016-05-18 10:20] JoshKeegan opened #199 "Next/previous animation issue"
When using the next & previous buttons, ifyou click one of them & then the other before the animation moving the calendar has completed for the first button click, multiple entries will stack up on top of each other on the left and a blank space will be left.
![dashboard - social sense - mozilla firefox](https://cloud.githubusercontent.com/assets/1682204/15355338/f430eec6-1ce9-11e6-8dc5-e5093a44fc

[2016-05-18 14:17] JoshKeegan opened #200 "Make getting d3 object more robust"
I've had a problem using this library alongside another one that declared their own global require function. This is because when you try to get d3, you first check for a require function to load it that way:

[code]

I don't know enough about requireJS to know if there's a standard workaround for this, or a better way of detecting it, but for now I've reversed your test for require, so it tries t

[2016-05-18 14:32] JoshKeegan opened #201 "Highlighting rectangle problem"
When highlighting a rectangle (by hovering or highlight/highlight-now classes) if it is in the top or left row/col the box that gets drawn around it will be missing that side.

E.g.
![cal-heatmap javascript calendar heatmap for time series data - mozilla firefox](https://cloud.githubusercontent.com/assets/1682204/15362551/7571d518-1d0d-11e6-92e5-b073cd72d870.jpg)
![cal-heatmap javascript calendar

[2016-05-18 14:47] snumb130 commented on #201
I see the problem with the top border in firefox, but left works fine.

Both work fine in Chrome.

What browser are you using?

[2016-05-18 14:57] JoshKeegan commented on #201
Firefox latest stable (46.0.1)

[2016-05-18 15:47] wa0x6e commented on #201
Refer to #108

[2016-05-18 15:47] #201 closed

[2016-05-18 15:49] #184 closed

[2016-05-18 15:59] wa0x6e commented on #170
Related to #200

[2016-05-18 15:59] #170 closed

[2016-05-18 16:00] #173 closed

[2016-05-18 16:01] wa0x6e commented on #199
See #134

[2016-05-18 16:01] #199 closed

[2016-05-18 16:02] wa0x6e commented on #76
Closed since inactive

[2016-05-18 16:02] #76 closed

[2016-05-18 16:03] #193 closed

[2016-05-18 16:08] JoshKeegan commented on #108
@wa0x6e Sorry, I hadn't seen this when opening #201.

Having now read this, couldn't it be fixed with this CSS:
[code]
That shouldn't cause issues with domain navigation since .cal-heatmap-container still hides the overflow.

[2016-05-18 16:09] iglocska commented on #76
Sorry, completely forgot about this. I've just re-tested it on our current version and it works as intended. My apologies!

[2016-05-18 16:25] wa0x6e commented on #108
The issue is with `.cal-heatmap-container` itself. The container is clipping the border.

[2016-05-18 16:34] JoshKeegan commented on #108
For me, the problem isn't just where the overflow is being hidden by .cal-heatmap-container.
If it was just caused by the container, then it wouldn't hide the overflow between two domains, but it is doing:
![dashboard - social sense - mozilla firefox_3](https://cloud.githubusercontent.com/assets/1682204/15366807/026f97d8-1d1e-11e6-9bfa-ca3a36c77d4c.jpg)

With my above snippet of CSS, the border di

[2016-05-18 16:41] wa0x6e commented on #108
Toggling the CSS property seems a viable solution

[2016-05-20 18:03] cagrimmett commented on #100
You can trigger your `responsiveCal()` function after the resizing is complete by creating an event:

resizeEnd:
[code]

Use resizeEnd to run responsiveCal:
[code]

[2016-05-23 10:55] developercakephp opened #202 "add custom data in data json"
hi,
I want to add custom data in data.json so when user click then i can show him message associated with that time.

[2016-05-31 20:19] wa0x6e commented on #202
You can't with the basic options, but you can plug a custom callback on user click, that will fetch your custom value.

[2016-06-24 11:29] ravish1915 commented on #176
@suveshJ How to achieve above 2 rows and 3 column strucutre in calender heatmap.??

[2016-06-27 06:53] ravish1915 opened #203 "How to create calender heatmap in multiple rows and multiple columns"
How to create a calender heatmap with multiple rows and columns?
![cal-heatmap image](https://cloud.githubusercontent.com/assets/11064770/16371085/1fc9c962-3bf9-11e6-84e0-c690fe24eebd.png)
 @wa0x6e

[2016-06-27 11:59] wa0x6e commented on #203
You can't. I suggest to create 3 differents instance of the calendar, one for each row. This is a limitation due to navigation

[2016-06-28 09:31] ravish1915 commented on #75
@wa0x6e  Is it possible to make "10 min" as a subdomain instead of "min"? We have data that is updating every 10 min.

[2016-06-28 09:59] wa0x6e commented on #75
No yet

[2016-06-29 05:55] ravish1915 opened #204 "How to change back-ground color of "default" tooltip and reducing the time duration,it is taking to be shown on hover?"

[2016-06-29 11:06] wa0x6e commented on #204
Take a look at the class `ch-tooltip` in the css

[2016-06-29 11:23] roufs42 opened #205 "Working on Chrome but Not working properly in Firefox getting below error"
![capture](https://cloud.githubusercontent.com/assets/20205326/16450334/f03ea492-3e19-11e6-865f-a687843df13c.PNG)

[2016-06-29 12:29] wa0x6e commented on #205
Everything's working properly on my end. Does the official website not working too ?

[2016-06-30 05:03] roufs42 commented on #205
It's working on Chrome and IE but its not working on Mozilla and the same case repeats with the chrome on Mac.Official site means cal-heatmap.com working fine.

[2016-06-30 10:47] wa0x6e commented on #205
What version of d3.js are you using ? Can you try with the same version as cal-heatmap.com ?

[2016-06-30 11:18] roufs42 commented on #205
Yup im using same version even though it's showing same error.

[2016-06-30 11:19] roufs42 commented on #205
I think its something related to time domain.

[2016-06-30 11:52] wa0x6e commented on #205
What's your js code ?

[2016-06-30 14:00] 6pm opened #206 "How to disable spaces?"
Hello. How to disable this spaces in month - http://joxi.ru/MAj0J7psvljWem ?

[2016-06-30 14:06] wa0x6e commented on #206
You can't

[2016-06-30 14:07] 6pm commented on #206
Thank you. Please close this issue.

[2016-06-30 14:07] #206 closed

[2016-07-04 07:54] roufs42 commented on #205
Means?

[2016-07-04 12:15] wa0x6e commented on #205
Can you show the javascript code you're using ?

[2016-07-04 12:19] roufs42 commented on #205
means cal-heat one?

On Mon, Jul 4, 2016 at 5:45 PM, Wan Qi Chen <notifications@github.com>
wrote:

[2016-07-04 12:31] wa0x6e commented on #205
Yes

On Mon, Jul 4, 2016 at 4:19 PM, roufs42 <notifications@github.com> wrote:

[2016-07-04 14:18] roufs42 commented on #205
[calheat.txt](https://github.com/wa0x6e/cal-heatmap/files/346451/calheat.txt)

[2016-07-04 14:30] wa0x6e commented on #205
No, the javascript you're using to instantiate the calendar

[2016-07-05 04:48] roufs42 commented on #205
(function() {
  var cal = new CalHeatMap();
  cal.init({
    itemSelector: "#animationDuration-a",
    domain: "month",
    subDomain: "day",
    subDomainTextFormat: "%d",
    range: 12,
    cellSize: 30,
    colLimit: 5,
    data: All_metricsData[0],
    columnSize: columnSize,
    rowSize: rowSize,
    start: new Date(2016, 01, 01),
    itemNamespace: "animationDuration-a",
    verticalOrientat

[2016-07-08 20:46] virtualtoy opened #207 "Crash because of incompatible d3 version"
In package.json d3 version is specified as `"d3": ">= v3.0.6"`. Starting from v.4 d3 introduced breaking changes. And they break cal-heatmap.

[2016-07-11 14:03] svbeon commented on #122
I'd like to +1 this as well, though I'm thinking maybe we should provide an `afterLoadData` snippet in the meantime.

I'll give it a go

[2016-07-11 16:27] outaTiME commented on #207
Forcing d3 version 4.1.0 for now.

4.1.1 version breaks when `d3.time.format("%j")`

[2016-07-13 06:57] roufs42 commented on #205
Hey waiting for ur replay................

[2016-07-13 11:13] roufs42 commented on #205
Problem solved tq

[2016-07-13 13:20] wa0x6e commented on #205
What was the issue ?

[2016-07-14 02:53] roufs42 commented on #205
Conversion of time stampvalues

On Wed, Jul 13, 2016 at 6:50 PM, Wan Qi Chen <notifications@github.com>
wrote:

[2016-07-14 14:38] #205 closed

[2016-08-03 01:39] bakroistvan commented on #207
+1

[2016-08-08 10:48] roufs42 opened #208 "How can we set the start of the week to sunday eventhough we give a startdate??"

[2016-08-08 19:18] indrayam opened #209 "Is there a way to make the heatmap show data from last 365 days?"
Instead of fixing the year (2016, 2017 etc.), is it possible to have the cal-heatmap show data from last 365 days.

Anand

[2016-08-09 06:18] wa0x6e commented on #208
see http://cal-heatmap.com/#weekStartOnMonday

[2016-08-09 07:23] wa0x6e commented on #209
Not at the moment

[2016-08-09 11:23] HappyBonita opened #210 ""DomainPosition is not a constructor" with d3#4.2.1"
Hello with  cal-heatmap#3.6.0 + d3#4.2.1 at the construction of the heat map i have this error and no display.

"DomainPosition is not a constructor"

C

[2016-08-09 13:06] nikibobi commented on #210
I have the same error

[2016-08-15 22:04] meandavejustice opened #211 "ability to directly pass data as an option"
For my use case I already have access to my data on the clientside. I'd like to be able to simply pass my data in on `init` instead of setting up an endpoint for cal-heatmap to fetch from.

[2016-08-15 22:09] meandavejustice commented on #211
It appears I misread the docs! It looks like the data option also accepts a json object. Sorry!

[2016-08-15 22:09] #211 closed

[2016-08-18 10:33] roufs42 commented on #208
That is not working

[2016-08-22 05:56] roufs42 opened #213 "Could u please tell me where is the Aggregation code part in Library??"
Could u please tell me where is the Aggregation code part in Library??

[2016-08-22 20:40] wa0x6e commented on #213
Aggregations is handle internally by d3.js library

[2016-08-23 11:37] roufs42 opened #214 "Could u please tell me is there any provision to show the day labels as Sunday,Monday on the top of the calendar??"

[2016-08-23 12:09] wa0x6e commented on #214
No, you can't

[2016-08-25 12:34] sebastientromp commented on #207
+1, forcing the version to 3.5.17 fixed the issue for me too

[2016-08-25 13:52] sebastientromp commented on #209
+1, would need this one too :)

[2016-08-29 22:34] #214 closed

[2016-08-29 22:35] #213 closed

[2016-08-29 22:36] wa0x6e commented on #208
It's working in the documentation.

[2016-08-29 22:37] wa0x6e commented on #210
Closing in favor of #207

[2016-08-29 22:37] #210 closed

[2016-08-29 22:39] wa0x6e commented on #202
Cleaning up old issue

[2016-08-29 22:39] #202 closed

[2016-08-29 22:45] wa0x6e commented on #166
Cleaning up old issue

[2016-08-29 22:45] #166 closed

[2016-08-29 22:49] wa0x6e commented on #203
Cleaning up old issue

[2016-08-29 22:49] #203 closed

[2016-09-07 09:26] rdpascua opened #215 "Issue importing with webpack"
I'm getting this weird error:

`Uncaught TypeError: Cannot read property 'format' of undefined`

Exception call:
[code]

I'm just importing it using

`import CalHeatMap from 'cal-heatmap'`

any tips on how to use this using webpack?

[2016-09-07 09:46] rdpascua commented on #215
Sorry, its not an issue with webpack. Using `d3` version `4.2.2` gives me an error.

to replicate the issue:

[code]

[2016-09-07 09:46] #215 closed

[2016-09-07 10:43] wa0x6e commented on #215
See #207, d3.js has been locked to v3.x on the latest release

[2016-09-07 13:19] rdpascua commented on #215
thats what i thought, but npm is somewhat pulling the 4.x kinda weird

Sent from my iPhone

[2016-09-12 20:25] ficus opened #216 "Question about Label Values - Why not aware of data?"
Hi,
Trying to set static values for the `legend` property is not working well as the data varies widely by domain.  Is there no way to get the chart to simply divide by the number of legendColors (gradients) using the high datum's value?  Or some scale - just so that the chart responds well to varied data?  Am I missing something?  Thanks!

[2016-09-18 18:03] rcaloras commented on #207
Looks like this was fixed in [3.6.1]( https://github.com/wa0x6e/cal-heatmap/releases/tag/3.6.1) but it hasn't been published yet. Could someone publish this? https://www.npmjs.com/package/cal-heatmap is still showing 3.6.0 as the latest.

[2016-09-19 11:09] wa0x6e commented on #207
@rcaloras done

[2016-09-20 16:56] JoshKeegan commented on #50
:+1 Would be a great feature :)

Did anyone here implement anything just for there own heatmap?
I need to do this for days of the week & don't want to reinvent the wheel if someone else has already done this.

[2016-09-20 16:59] JoshKeegan commented on #127
:+1:

[2016-09-22 05:09] roufs42 opened #217 "Week Start Day as Sunday when domain is Month and subdomain is Week is not working"
When we put week start day as sunday then it fails

[2016-10-09 18:08] #217 closed

[2016-10-09 18:09] #208 closed

[2016-10-11 07:51] niconoe opened #219 "Question: days of the week grouping"
Hello,

I'd like to display statistics about a parking usage... It would therefore make sense to group data by days of the week, and then shows occupation for each hour, so we can for example immediately see that Monday 10am is more busy than Tuesday 3pm. Is that currently possible ? I guess we'd need a "days of the week" domain with the "hour" subdomain, right?

[2016-10-11 09:12] wa0x6e commented on #219
Doesn't week domain and day subDomain solve your problem ?

[2016-10-20 14:43] Yurko-Fedoriv commented on #96
I also got such issue, and I think it may be reproduced by triggering something like
[code]

while previous domain change animation is still active. At least I was able to eliminate the issue by preventing the update during animation.

[2016-10-21 21:16] wa0x6e commented on #207
Version 3.x of cal-heatmap will be locked to d3 v3.x.

There is no plan to make it compatible for d3 v4, there will be a new branch of cal-heatmap tailored to d3 v4

[2016-10-21 21:16] #207 closed

[2016-10-21 21:16] #204 closed

[2016-10-28 03:28] kenshinx commented on #190
Hi,
I meet the same trouble also.
I am using the latest release JS library and my code highly similar as @maartendp .

![image](https://cloud.githubusercontent.com/assets/129404/19793947/80034db2-9d01-11e6-9100-5a396e1054c4.png)

Thanks a lot for your time.

[2016-11-01 06:39] ankitrg opened #221 "cal-heatmap-container svg height not proper"
I have a parent div and I've set a minimum height to it as 400px. The heatmap svg which is generated has a height which is very less, even the content are not visible correctly.

If I go the dev tools and increase the height of the svg it becomes visible.

I also saw that it has something to do with the range, if I increase/decrease the range, this height varies. Can you please help me with this?

[2016-11-04 10:43] roufs42 opened #222 "Some weeks info is missing"
When we put Month as Domain and Week as SubDomain the weeks which are staring 1st of the month as Monday are missing can u pls check it out once

[2016-11-15 16:14] Luiz-N commented on #216
I agree this would be a nice feature... If there was an option that could take the highest and lowest values and then automatically create the gradient of colors in between. If i'm not mistaken I think d3 already offers helper functions for this type of thing.

[2016-11-15 19:30] Luiz-N commented on #126
solid answer @benhutchins ... this issue could/should be closed @wa0x6e

[2016-11-15 21:20] #126 closed

[2016-11-16 00:11] Luiz-N commented on #96
@Yurko-Fedoriv is right... this error occurs if an update is attempted while an animation is still in progress. I fixed it by wrapping the update in a timeout equal to the `animationDuration` if a `jumpTo` was necessary

[2016-11-17 17:15] ficus commented on #216
Thanks for sharing that thread.  I'm not too clear on github etiquette when it comes to issues/feedback.  Liked the code and just wanted to share my one take away after having used it.  Maybe this is something that has already been considered and this should just be closed?

[2016-12-07 00:54] pydanny commented on #126
Lovely answer @benhutchins, and it saved my sanity. However, there are a few bugs in your code snippet. This is my corrected version, which I'm putting here for convenience:

[code]

Again, thanks so much for providing the original answer. :smile:

[2016-12-13 11:07] cindyliu-yb commented on #207
any estimated time that for releasing the new branch tailored to d3 v4?

[2016-12-14 12:55] cindyliu686 commented on #103
I have the same issue in both the demo in documentation and the downloaded latest version. I am using google Chrome.

[2016-12-15 12:45] NeoCat opened #224 "When legend starts with 0, the max legendColor will be not set (become black)"
When the legend starts with 0, like  [0,20,40,60,80], and legendColor is set to 2 colors, the last range segment ("more than 80" in the example) are not colored, which will be drawn with black color.

![before](https://cloud.githubusercontent.com/assets/145817/21224385/4edaa864-c30f-11e6-88fa-ddcd8dfdd9a0.png)

With the patch in the pull request #223, the color will be set as intended.

![after](h

[2016-12-15 13:14] #219 closed

[2017-01-06 19:01] Yurko-Fedoriv commented on #102
You can.
subDomainTitleFormat expects a string with placeholders which is then executed against overloaded String.propotype.format().
If you hack this and pass ```subDomainTitleFormat: {format: function(params){}}``` you can do whatever you want in the custom function.

[2017-02-02 18:02] Maujard opened #226 "How introduce modulo on subDomain"
Hi,
How to reduce the subDomain in modulo like  :

domain="hour"
subDomain= "min"
subDomainModulo="5"

I expect one square for each time modulo 5 minutes. For one hour only 60/5 = 12.
subDomainModulo in course = 1  by default.

Or
subDomain ="min * 5"

 Thank a lot
Dominique

[2017-02-03 22:24] stevelacy opened #227 "Hide domains without dates"
Is there current support for hiding domains without any data?
Example, hide months without any data such as this:
![selection_00120170315 22 15](https://cloud.githubusercontent.com/assets/5648999/22610845/bbdb2880-ea24-11e6-90b9-6c8332499057.png)

[2017-02-04 10:20] wa0x6e commented on #227
No, that will defeat the purpose of the heatmap concept

[2017-02-11 08:49] #227 closed

[2017-03-09 15:56] paynecs commented on #48
Hi,

I'd like to have the momain set to one day, and the sub domain set to 30mins (one column per day, with 48 rows, each representing a 30 minute period).

Is this possible, please?

Thanks

[2017-03-15 00:06] papyr opened #228 "Week only with week highlight"
Hi your control seems very creative, I am trying to show weekly course schedules for students.

1. I need some guidance on, **which format is the best to present the information**. The students pick the week (showing dates and week number), preferably 8 weeks into the past. I want to highlight the entire week, select and send the data back, as the first day of the week like Monday or week number.

[2017-03-15 12:37] wa0x6e commented on #228
I don't quite get what you want to achieve here.
You can pass an array of date object to the highlight() method. But the heatmap is one-way, the user can not manipulate it to send back events to you.

[2017-03-17 09:12] incorrectusername commented on #65
where did you find that in the docs?which section? i tried searching.

[2017-03-17 10:00] BigChief45 opened #229 "update() method to refresh the map?"
The [`update()`](http://cal-heatmap.com/#update) method requires new data as arguments to update the calendar with the new data.

I believe that it would be nice to be able to call `update()` with no arguments to refresh the calendar, making it send another request for the data just as when it was initialized.

Currently calling `update()` with no arguments simply makes the calendar go blank.

[2017-03-17 12:41] wa0x6e commented on #65
http://cal-heatmap.com/#subDomainTitleFormat

[2017-03-17 12:43] wa0x6e commented on #229
Why don't you just pass your data again to update() ?

[2017-03-24 11:49] BigChief45 commented on #229
Yes that is an obvious solution. But wouldn't you say it would be nice for a call to `update()` with no arguments to do this as well? I can work on a PR.

[2017-03-30 16:04] soke1556 commented on #227
I really need to do this. I need to hide domains and only show those that are relevant to the use case. Any workaround?

[2017-03-30 16:21] stevelacy commented on #227
I just switched off from this to a home grown one, tiled svg's without the domain break

[2017-04-23 12:48] dorcohen8 opened #231 "Multi selection of cells"
Thanks for the amazing heatmap!
Can I select multiple cells by using a mouse drag? for example:

![image](https://cloud.githubusercontent.com/assets/3125971/25313691/3bed823e-283c-11e7-855b-f9f3881ed0cc.png)

[2017-05-07 21:09] wa0x6e commented on #231
Not for the moment. If mouse drag event is added one day, it will be used to go to the next and previous domain.

[2017-05-07 21:20] wa0x6e commented on #216
Using both `legendColors` and `legend` already generates a scale of colors, based on the `legend` array. You just have to specify the min and max colors via `legendColors`.

For the moment, you have to explicitly specify each threshold via the `legend` option, as guessing the highest and lowest value from your data sample is not pertinent, the scale should not be dynamic, even more when the calend

[2017-05-07 21:23] wa0x6e commented on #198
Closing, see #230

[2017-05-07 21:23] #198 closed

[2017-05-07 21:24] wa0x6e commented on #226
It's in consideration, see #164

[2017-05-07 21:24] #226 closed

[2017-05-07 21:24] #155 closed

[2017-05-07 21:29] wa0x6e commented on #152
Closing, see #102

[2017-05-07 21:29] #152 closed

[2017-05-07 21:43] #229 closed

[2017-05-07 21:51] wa0x6e commented on #179
Closing, let's discuss this on #153

[2017-05-07 21:51] #179 closed

[2017-05-16 15:23] pvakani123 opened #232 "I have been using Cal-Heatmap to create a calendar. I would like to only visualize the hours between 8am and 9am on that day. Is there any way to do this through cal-heatmap?"

[2017-05-16 15:34] wa0x6e commented on #232
Use the hour domain with min subdomain, with 8am as start, and 1 as range

[2017-05-16 16:31] pvakani123 commented on #232
I mean I want a month in the domain and date in the subdomain. In my dataset, the data is recorded every hour and cal-heatmap is adding up all the data for a particular date. So, I was thinking if I can target particular hour for a day with the month in the domain and day as a subdomain and only show a data for the particular hour for the particular day.

[2017-05-16 17:50] wa0x6e commented on #232
No you can't. Only way is to remove the unwanted data from the source, before passing it to the calendar.

Either you do that directly on your source, or you can use the afterLoad callback (http://cal-heatmap.com/#afterLoadData) to do it. Do a for loop, and keep only the timestamps you want. There's some math involved.

[2017-05-19 20:54] hathawayj commented on #50
@wa0x6e how close to the top of the todo list is this item?

[2017-05-22 22:51] wa0x6e commented on #50
Still working on it. It's not so easy, as label differs depending on the subDomain type. There's a long list of bugfixes waiting to be cleared before introducting new features. I think ETA is after summer 2017.

[2017-05-23 13:04] hathawayj commented on #50
Thanks for the response.  Looking forward to updates.

[2017-05-30 02:54] laiwenqiang opened #233 "How to replace the word ‘on’ in the tooltip?"
I try to use
```itemName: ["个贡献<br/>","个贡献<br/>"]``` and ```subDomainDateFormat: "%Y年/%m月/%d日"```
to conver the info I want to show.
But，how can I replace the word ‘on’ ？
![Uploading Snip20170530_8.png…](http://oqgq7175e.bkt.clouddn.com/Snip20170530_8.png)

[2017-05-30 09:01] wa0x6e commented on #233
See {connector} in http://cal-heatmap.com/#subDomainTitleFormat

[2017-05-30 17:59] laiwenqiang commented on #233
3Q！

[2017-05-30 17:59] #233 closed

[2017-06-21 14:10] lgt opened #234 "ajax header problem"
Is it possible to pass header parameters on data call?
I'm trying the following but will not work

[code]

at the end data will be called like http://localhost/%7B%221497876794%22:8,%221498050395%22:6%7D

[2017-06-23 21:25] ezraball commented on #190
I'm having the same trouble too. The only difference I see between the two requests is that the first (failed) one doesn't specify mime type in the "accept" request header. The second (successful) one does specify mime type.

I'm trying to respond to the json request with a Rails app if that makes any difference.

<img width="740" alt="untitled" src="https://user-images.githubusercontent.com/24692

[2017-06-26 22:56] lenybernard opened #235 "Is there a way to trigger the tooltip display in cal-heatmap"
Hello,

I use this library in an app and all is working well but now, I need to test and I want to do it with Behat by simply checking the tooltip's contents when my mouse comes over the cells.

To do this, as Selenium doesn't really have a mouse, I had the idea to simulate/trigger the mouseover but I don't figure how to do that, there is nothing in the documentation to help me with this need...

[2017-06-27 22:05] wa0x6e commented on #235
Maybe you can call a `mouseenter` event on the cell ?

[2017-06-27 22:34] #234 closed

[2017-06-27 22:35] wa0x6e commented on #234
Now in the `master`

[2017-06-27 22:36] wa0x6e commented on #232
Closing since inactive

[2017-06-27 22:36] #232 closed

[2017-06-27 22:37] #231 closed

[2017-06-27 23:25] #190 closed

[2017-06-28 08:34] #224 closed

[2017-06-28 08:50] wa0x6e commented on #221
You may want to look at http://cal-heatmap.com/#domainDynamicDimension

[2017-06-28 08:50] #221 closed

[2017-06-28 09:11] wa0x6e commented on #194
Added in https://github.com/wa0x6e/cal-heatmap/commit/28717e07488c99b1d7f5b3420b7593d1f0d883e6

[2017-06-28 09:11] #194 closed

[2017-07-10 15:57] ezraball commented on #190
By the way, I realized there was an underlying problem with the JSON I was generating on the server side (extra comma at the end). Once I fixed that, the script stopped trying to make the XHR request twice.

[2017-07-10 17:09] wa0x6e commented on #190
There was also a double call to XHR request in some data type, so it's not entirely your fault. Bug is fixed on the master

[2017-07-11 12:10] FFMChris opened #236 "Cal-Heatmap fires twice data request and xhr request fail on first, response shows NaN items in calendar"
Hey there,..

I am using cal-heatmap with an 6 month view. I do the call to mysql using php codeigniter and convert the utc string prior to hit the mysql. The response looks fine and as defined.

But my xhr fires twice and the first is failing, also i get an `NaN items` display on hover where it should say i.e. 1.

Below shows the xhr fail:

<img width="572" alt="cal_heatmap" src="https://user-ima

[2017-07-11 12:57] wa0x6e commented on #236
Twice xhr event has been fixed in the master. Can you try ?

On Jul 11, 2017 20:10, "FFMChris" <notifications@github.com> wrote:

[2017-07-11 13:52] FFMChris commented on #236
I am using this version:  cal-heatmap v3.6.2 (Mon Oct 10 2016 01:36:42)

[2017-07-11 14:00] FFMChris commented on #236
Sorry, i now use the one from the SRC folder and it works. It doesn't do the double xhr. Thanks,..

Any hint about the NaN? It looks like my response is not numeric for cal-heatmap to handle. How should i modify the php to get the results in desired format?

I am currently using below:

[code]

[2017-07-11 14:57] wa0x6e commented on #236
Remove the quote around the nuneric value

On Jul 11, 2017 22:01, "FFMChris" <notifications@github.com> wrote:

[2017-07-11 16:05] FFMChris commented on #236
I did it. I used print JSON_NUMERIC_CHECK im my encode.

`print json_encode($result,JSON_NUMERIC_CHECK);`

[2017-07-11 16:05] #236 closed

[2017-07-17 01:50] joshuapinter opened #237 "Legend Tooltip not working. Not even in docs."
`tooltip: true` is set and works great on the main chart but nothing appears when hovering over the legend.

Even if you go to the [documentation page for the legend](http://cal-heatmap.com/#legend) the tooltip for the legend doesn't show up.

I'm using a modern Chrome browser. Maybe somebody else can verify as well.

Thanks!

(Great library!)

Joshua

[2017-07-20 20:46] voidsteed commented on #126
Thanks for the solution, @benhutchins and @pydanny! There is an additional issue with this solution. I'm in EST timezone, and there is daylight saving time(EDT) change on every March 12th. So when you do offset calculation in EDT time, the dates before March 12th is shift back one day. and there will be a missing date on March 12 in my project. At that time I would rather to use 5-hour-offset inst

[2017-08-06 18:22] BigChief45 commented on #122
@wa0x6e any updates on this?

I am experiencing an issue that is possibly related. Timestamps are stored with the correct dates, but Cal Heatmap highlights the wrong date (highlights the previous day):

Timestamp (human time):

[code]

![image](https://user-images.githubusercontent.com/6859247/29005851-c7b304e4-7aa1-11e7-8fe1-f47e32c24dd8.png)

[2017-08-07 00:22] wa0x6e commented on #122
indeed, the calendar is always using the browsers' timezone. Customizing the timezone is in the todo list.

[2017-08-17 03:52] maurop123 commented on #224
I've still got the issue. I couldn't reproduce in a jsfiddle cause the fix isn't in the latest cdn, but here's the screenshot.

![screenshot 2017-08-16 23 50 23](https://user-images.githubusercontent.com/1924900/29395281-bdec73de-82dd-11e7-971b-f0fd544f0008.png)

with this code

[code]

[2017-08-17 08:55] victorhooi opened #238 "Aggregated Day/Week view?"
Hi,

Is there any way to show a aggregated week/day view?

For example:

<img width="1026" alt="screen shot 2017-08-17 at 18 53 50" src="https://user-images.githubusercontent.com/243499/29404070-722d911c-837d-11e7-9089-859572e25e94.png">

http://bl.ocks.org/tjdecke/5558084

(i.e. rather than for a single week, show the overall day/week heatmap for multiple weeks, aggregated)

[2017-08-17 16:37] maurop123 commented on #224
got it working by adding this style

[code]

Hope that helps!

![screenshot 2017-08-17 12 37 30](https://user-images.githubusercontent.com/1924900/29423199-dbe62694-8348-11e7-8215-47ee43a7da79.png)

[2017-08-28 21:24] BigChief45 commented on #122
@wa0x6e Thanks for the response. Any idea on when this could occur?

[2017-08-29 04:05] BrightHai opened #240 "Add x-label for heat-map"
Thanks for this great work. Is there any options which set the x-label for the graph?
![image](https://user-images.githubusercontent.com/11002329/29804040-55d1c180-8cb2-11e7-8634-22eb5d358e79.png)

[2017-09-07 19:14] andresDarriens commented on #59
If anyone is still interested on this, this was my solution.
css:
[code]

[2017-10-12 20:32] eMerzh opened #241 "Any way to determine size"
Hi,
i want my chart to fit my container size, but i can't find a way to make i bigger or smaller...
did i miss smth ?

[2017-10-13 08:47] wa0x6e commented on #241
The chart is not responsive yet, and have fixed dimension.
You could center it, so it does not look too ugly

[2017-10-13 09:06] eMerzh commented on #241
Hey,
many thanks for your quick reply (nice lib btw!)
I'm not really talking about "responsiveness" like grow with container or display less/more info regarding the screen size...
but let say i want the chart to take 1500px on 100px , is there a way to do that or is it the "responsiveness" you are talking about ?

Thanks

[2017-10-13 10:00] wa0x6e commented on #241
All dimensions are static. You can either change the cells size, or display more columns

[2017-10-20 11:21] dipo101 commented on #158
@wa0x6e
Hi, any progress on this enhancement?, I am specifically trying to change the subDomainTitleFormat property without having to call init() again. I see changing highlight is possible..

[2017-12-05 10:00] thonacker opened #242 "svg graph-domain week starts at w_00"
The svg graph-domain week

`<svg width="423" height="39" x="0" y="0" class="graph-domain w_00 m_1 y_2018">`

will start by w_00 and not w_01.

**How to reproduce**
Set the start date to `moment("2018-01-01").add(-28, 'days').toDate();` the output will be `class="graph-domain w_00 m_1 y_2018`

**Expected behavior**
The output should be `class="graph-domain w_01 m_1 y_2018` if the year has changed

[2017-12-13 23:27] Misterfluff opened #243 "Displaying value"
Here is my script:
<script type="text/javascript">
	var cal = new CalHeatMap();
cal.init({

	data: "http://localhost/test/data/2017OS.json",
	/*data: "http://localhost/test/data/2017OS.csv",*/
	/*dataType:"csv",*/
	start: new Date(2017, 3), // April, 1st 2017

	domain: "month",
	subDomain: "x_day",
	cellSize: 20,
	subDomainTextFormat: function(date, value) {
		return value;
	},

	/*subDomainTextFo

[2017-12-14 08:57] wa0x6e commented on #243
Replacing `data: "http://localhost/test/data/2017OS.json"` by

[code]

works, so I guess it's an issue with the file url.

Look for clues in the developer console.

[2017-12-14 15:16] Misterfluff commented on #243
Good Morning!
Thank you so much for your fast reply. Were you able to see the value as
well as the date? I have only been able to see the date. It is as though
the value does not exist.

On Thu, Dec 14, 2017 at 3:57 AM, Wan Qi Chen <notifications@github.com>
wrote:

--
Mary Jane Rutkowski
Natural Resources Planner
Air and Radiation Administration
Maryland Department of the Environment
1800 Washing

[2017-12-14 15:26] Misterfluff commented on #243
Also, sorry for the extra note -- where is the developer console? Thanks

[2017-12-14 16:16] Misterfluff commented on #243
egg on my face :-) I should have known the browser developer console. I have been so focused on the Dreamweaver side of this that I haven't tried displaying on the browser. I tried adding the full path: "http://localhost/Applications/MAMP/htdocs/Cal-Heatmap/test/data/2017OS.json" but still don't see the value. Let me see what errors the browser produces. Thank you so much for your kind assistance.

[2017-12-14 16:18] wa0x6e commented on #243
The console tab will show the related errors. You could also look for network error in the network tab.

[2017-12-14 16:19] Misterfluff commented on #243
Google will not display - It shows the url as: file:///Applications/MAMP/htdocs/cal-heatmap-master/2017OS.html I think they have a policy of not displaying these types of files.

[2017-12-14 16:30] wa0x6e commented on #243
You have your answer then

[2017-12-14 16:31] Misterfluff commented on #243
A bunch of errors:
Failed to load resource: net::ERR_FILE_NOT_FOUND cal-heatmap.css
cal-heatmap.min.js Failed to load resource: net::ERR_FILE_NOT_FOUND cal-heatmap.min.js
2017OS.html:15 Uncaught ReferenceError: CalHeatMap is not defined
    at 2017OS.html:15

[2017-12-14 16:32] wa0x6e commented on #243
How are you loading the library ?

[2017-12-14 16:32] Misterfluff commented on #243
Any idea why it won't display locally? without the browser? I should be able to see a preview in Dreamweaver. This will eventually reside on our agency web server, if I can get it to work :-)

[2017-12-14 16:35] Misterfluff commented on #243
This is the html:
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="/cal-heatmap.css" />

</head>

<body>
	<div id="cal-heatmap"></div>
<script type="text/javascript">
	v

[2017-12-14 16:37] Misterfluff commented on #243
Fixed it!!!! Sorry for all the trouble. It was the path to the json -- just as you suggested!!! Thank you!!!

[2017-12-14 16:37] #243 closed

[2017-12-20 17:17] Misterfluff opened #244 "CSV syntax"
Does this look correct to you? I'm just concerned about attaching a csv file. This works perfectly if I use a json but our IT people are not very willing to allow a json on our web server for some unknown reason -- Thank you so much for your assistance.
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6

[2017-12-20 18:59] wa0x6e commented on #244
Why wouldn't it works if the same code works with a json file ?

[2017-12-20 19:20] Misterfluff commented on #244
I don't know -- this is currently on my localhost. Could that be the issue?
I just wanted to make sure the syntax for parsing the csv is correct before
trying to move it to the web server. Thank you!

On Wed, Dec 20, 2017 at 1:59 PM, Wan Qi Chen <notifications@github.com>
wrote:

--
Mary Jane Rutkowski
Natural Resources Planner
Air and Radiation Administration
Maryland Department of the Environmen

[2017-12-21 22:35] nwang57 opened #245 "Tooltip not shown completely at the top"
If you check this [https://jsfiddle.net/ea6gkqLh/2/](https://jsfiddle.net/ea6gkqLh/2/). The tooltip for the very first item will be hidden behind other divs. Is there a way to let the tooltip show above?

[2017-12-21 23:32] wa0x6e commented on #245
The issue seems to be from jsfiddle, using iframe. Did you get the same issue with you real code ?

[2017-12-22 00:37] nwang57 commented on #245
I spot the problem. It is because I have "overflow: hidden" in the parent div in my code. Thanks for your quick reply.

[2017-12-22 00:37] #245 closed

[2018-01-03 20:24] Misterfluff opened #246 "Date"
It's me again ... I created a fiddle -https://jsfiddle.net/Misterfluff/8k0crvc9/
This works great. The only problem is that the date slips by one day. The first value should be 40 for April 1. The value represented is for April 2 (56). I know there is a function to fix this but I do not understand how to incorporate it. The function looks like this:
afterLoadData: function (timestamps) {
  var off

[2018-01-15 16:24] ellesborough commented on #222
I have seen this too in Month/Week mode.
Some weeks appear out of order, some weeks over-write other weeks, some weeks are duplicated in more than one month.

[2018-01-16 08:21] wa0x6e commented on #222
Which setting are you using to reproduce this issue ?

[2018-01-16 09:59] ellesborough commented on #222
In the example below, the 200 value for 2017-12-01 doesn’t appear at all, the hover tooltip for the last week of November says “100 items in November Week #47” and the first week of December is “400 items in December Week #48”

Also there is an extra week on the end of January that says “December Week #52”

Setting “weekStartOnMonday” changes it such that an extra cell “October Week #44” appears b

[2018-01-16 17:08] thonacker commented on #242
I've solved that by implementing
[code]

and changed cal-heatmap.js to:
[code]

D3.V3 does not use week ISO format so i've added d3-time-format library where the problem is fixed.

[2018-01-16 17:08] #242 closed

[2018-01-18 23:28] jclif commented on #111
+1

[2018-02-01 08:01] zewt opened #247 "Scrolling views causes artifacts"
When I scroll the view back and forth, the entries wrap around to the wrong place.   Just press prev and next a few times on http://cal-heatmap.com/#previousSelector.  It happens in Chrome and Firefox.  Not sure if it's related to the current time (Feb 1 2 AM UTC-0600, just after the month changed over).

(I guess this project isn't in active development, with no commits since June and major bugs

[2018-03-01 01:39] AdamWill commented on #122
Just figured out that this is probably why [Pagure](https://pagure.io) user activity heatmaps are frequently off by a day for users in timezones a long way from UTC.

[2018-03-01 16:36] BigChief45 commented on #122
@wa0x6e Any updates on this?

[2018-03-15 08:44] sergeysolovev commented on #126
@voidsteed @benhutchins @pydanny

Hey guys, thanks for your help!

I've updated `afterLoadData` based on the comment from @voidsteed and this SO [answer](https://stackoverflow.com/questions/11887934/how-to-check-if-the-dst-daylight-saving-time-is-in-effect-and-if-it-is-whats)

[code]

P.S.: It's ES6, but you can easily update it to be ES5

[2018-06-12 13:31] nivhanin opened #252 "Show past 2 weeks including today"
I tried to change range to
`range: -30,`
but today date, is not exist.

`range: 1,`
Show me today date only.

If i'm changing the start date to be tomorrow date, the data is gone.

[code]
How can i solve this issue?

[2018-06-21 06:54] #252 closed

[2018-07-04 14:43] pwac092 opened #253 "Multiple calendars"
Hiya! I am interested in displaying multiple calendars.

Do you have a nice way of doing this?

Thank you!

[2018-07-04 16:15] wa0x6e commented on #253
Just instantiate as many as you like

[2018-07-05 08:41] lgt commented on #152
Is there any example how to hack `subDomainTitleFormat`?

[2018-07-06 08:55] FatManiac opened #254 "Cannot find module "d3/index""
Hi,

i'm trying to test the cal-heatmap module but i get Cannot find module "d3/index"
i have d3 version below 4.0
i'm working on Angular5 and Ionic 3

Thank for your work

[2018-08-10 23:15] seanfcarroll commented on #241
[This post](http://www.cagrimmett.com/2016/07/04/posts-heatmap-calendar.html) deals with the size / responsiveness issue.

[2018-08-10 23:16] seanfcarroll commented on #100
See [this blog post](http://www.cagrimmett.com/2016/07/04/posts-heatmap-calendar.html)

[2018-08-13 09:34] fabio-a-beretta commented on #95
I have the same issue.
After a brief check it appears that the end date is using the same date at midnight 00:00:00. This excludes 1 day from the domain.
If the end date is converted to 23:59:50 or better at Day+1 at 00:00 it seems to work.

I have corrected the function as follows: adding endDate.setDate(endDate.getDate() + 1).

[code]
May be can be check it and introduce it into the code.

Thank

[2018-09-13 09:54] scottharvey commented on #154
I hit this same issue today, I updated the [jsfiddle](http://jsfiddle.net/jr0837v6/4/) to show that the issue is still present in version 3.6.2.

Any update on this would be great, thanks for the awesome library 😄

[2018-09-18 04:14] roughcompass opened #256 "Rendering in React"
Is there a way to render a calendar as a React component?

[2018-09-19 05:32] #256 closed

[2018-09-19 18:45] 0xRoM opened #257 "displaying value/data from json"
Hi,

I'm unable to display the value in subDomainTextFormat when data: is from a json file.
If it's a local variable it works fine, but I need it to work with .json for ajax.

Heres an example: http://embed.plnkr.co/giWBM1R2B0yzIr6xfSvq/

Hope someone can help

[2018-09-20 11:30] disk91 opened #258 "Is there a way to revert the calendar direction ?"
Actually the calendar is displayed with older time on the left and time growing on the right. I would like to have the most recent period on the left and older time on the right.
Is that possible to do ?
(Not seen in the documentation, seen some Global in the code for selecting navigation direction)

[2018-09-20 13:50] wa0x6e commented on #258
As of now, it’s not possible. What will be the point / use case ?
Logically, calendar is always read from left to right.

On Thu, Sep 20, 2018 at 15:30 Paul Pinault <notifications@github.com> wrote:

[2018-09-20 16:02] nanoymaster commented on #257
I found a way to do it:

[code]

It's certainly not optimised and will get slower the more data there is and creates a LOT of requests...
but it works!

[2018-09-20 17:57] wa0x6e commented on #254
How did you import d3 ?

[2018-09-20 17:57] #244 closed

[2018-09-20 17:59] wa0x6e commented on #237
Tooltip is not implemented in the legend yet

[2018-09-20 19:57] joshuapinter commented on #237
@wa0x6e Thanks for verifying! Is that something you would be interested in seeing and accepting a PR for?

[2018-09-22 09:02] nanoymaster commented on #257
Just realised the last update was a year ago.
Is project maintained anymore and likely to be patched?

[2018-09-22 23:30] glutanimate commented on #247
Seeing the same issue here, both on Chrome 69.x and Firefox. I seem to be able to trigger this more reliably when scrolling through the views quickly. Might be an animation issue?

Here's to hoping that @wa0x6e or someone else will be able to pick up development again. cal-heatmap really is the best solution in its category.

(@wa0x6e, thanks for all the work you've put into this project, by the w

[2018-09-23 06:00] wa0x6e commented on #247
Just to make sure, you're talking about the issue when you click on NEXT or PREVIOUS quickly, without giving the time for the sliding animation to complete ?

A quick temporary fix for that particularly issue is to disable the sliding animation

[2018-09-23 06:01] wa0x6e commented on #237
Yes

[2018-09-23 06:05] wa0x6e commented on #247
Closing, in favor of #134

[2018-09-23 06:05] #247 closed

[2018-09-23 15:48] glutanimate commented on #247
@wa0x6e Yes, exactly. Thanks, I'll consider disabling the animation (though it would really be a shame as it looks beautiful!).

[2018-10-07 11:21] sanjeevbeekeeper opened #259 "subDomain interval?"
Is it possible to control the `subDomain `interval. My `domain: hour `_(8:00 am and 9:00 am)_  and `subDomain: min` . The subDomains displays every 10 sec interval. Is it possible to have every 5 or 10 min interval?
By the way, the cal-heatmap is wonderful!

[2018-10-10 17:15] wa0x6e commented on #259
It's in the todo list.
Related to #164

[2018-10-10 17:15] #259 closed

[2018-10-24 19:00] nipunsadvilkar opened #260 "Cross off date possible with two subDomainTextFormat?"
Hi @wa0x6e, Thanks for such a great library!

I was curious to know if it is possible to have two `subDomainTextFormat`.

I wanted to do something like this:

![redxs](https://user-images.githubusercontent.com/15062408/47454403-c6102280-d7ec-11e8-8a64-7381a8dfff88.jpg)

Any inputs from anyone would be of great help!

Thanks,
Nipun

[2018-10-24 21:00] wa0x6e commented on #260
You can pass a function to `subDomainTextFormat` to achieve what you want

[2018-10-30 21:44] glutanimate commented on #108
Still seeing the same issue here, unfortunately. As @JoshKeegan mentioned it seems to be happening both for outer and inner rects:

![screenshot_20181030_223848](https://user-images.githubusercontent.com/5459332/47752372-92257900-dc94-11e8-9765-1eeeacd854e3.png)

The workaround in #118 seems to work for some outer rects but not for other outer rects, and not for any of the affected inner rects.

A

[2018-11-02 00:50] ghost opened #261 "Be able to change the language for the months"
My website is only in Swedish. Therefore it looks a bit odd when the months for the heatmap are in English. I've looked at the source code and the documentation, but it seems that the names of the months are not hardprinted into the script. The names are generated? Anyway. Please, add the support for multi language for the months!

[2018-11-02 06:04] wa0x6e commented on #261
See https://cal-heatmap.com/#domainLabelFormat and the whole i18n category in general

[2018-11-02 11:42] edgren commented on #261
Thanks. But the locale for momentjs is not working - it still showing in English.

[code]

[2019-01-04 06:17] oppsig opened #262 "Question: Is it possible to split every day in 3?"
Would it be possible to easily split every week day into 3 pieces, and every weekend into two pieces?
I guess i can also just generate three different calendars, but it would look nicer in one calendar.
I'm thinking about using cal-heatmap to show how a shift rotation would look like.

Thanks in advance.

[2019-01-07 10:13] rizwanshah29 commented on #102
How can I get data in my tool tip?

[2019-01-07 10:15] rizwanshah29 commented on #102
How it's possible that we can get studentdata in tool tip?
When I will be hover on my subdomain date.

[2019-01-08 09:38] wa0x6e commented on #102
For now, you can't, it's WIP

[2019-01-18 01:10] GrushBrush opened #263 "Domain Does not have highlighting unless clicking on previousSelector"
My calendar will only color code if I push previous button and then next.  Can you tell me how to get the data loaded and the calendar colored on page load?
Here is the code

 (function() {
                        var cal = new CalHeatMap();
                        cal.init({
                            itemSelector: "#example-g",
                            domain: "month",

[2019-01-30 06:16] weedkiller opened #264 "insert custom text inside item or on over"
Hello, how can we insert custom text like the name of a person who worked on a day

[2019-02-20 18:58] kwayebopp opened #265 "Accessing click event from onClick"
The `onClick` option takes a function parametrized by the date and the value associated with the date only. I'm not sure about how other people feel, but I think it would be very useful to have the Event data as an additional parameter. In my use case, I'd like to know the target of the event because I display several calendars at once.

so instead of
[code]

something like

[code]

[2019-04-26 08:38] VigneshVaidyanathan commented on #48
@paynecs Did you find a solution for this? I also want to implement the same thing. Please let me know.

[2019-06-01 18:44] dokgu commented on #108
Having this problem as well. I used

[code]

and it seems to be fixed but I'm not sure if this would cause any issues. I'm at the very beginning of implementing this library.

[2019-06-02 02:17] dokgu commented on #196
Would love to have this too!

[2019-06-02 02:48] dokgu commented on #90
Having this same issue. I think you can fix this by treating the legend values as the upper bound (inclusive).

So let's say a setting of `[10, 20, 30, 40]` would be interpreted as:

**Legend 1:** `<= 10`
**Legend 2:** `11-20`
**Legend 3:** `21-30`
**Legend 4:** `31-40`
**Legend 5:** `>= 40`

I would personally include: **Legend 0:** `empty` - but that's for another discussion.

[2019-06-02 18:51] kiru commented on #206
Is it possible to reopen this as a feature request?

[2019-07-26 23:12] hanzhaodeng opened #266 "interpolateHcl produces colors that are hard to understand"
d3.interpolateHcl doesn't produce intuitive colors for a heat map. For example, if we want to have legendColors transitioning from white to red, it will go through green.

You can try in the legend playground: https://cal-heatmap.com/#legendColors
Set color range to #ffffff and #ad001d.
Personally I think this transition should be more and more red. Green doesn't make sense to me personally.
Also

[2019-09-06 00:54] lhayhurst opened #267 "Year only (or Decade-Year)"
Hi, great project, thank you for open sourcing it!

I have a heatmap visualization where the data cadence is once per year.

I'd like to visualize where domain = "year", and no subdomain, or domain="decade" and subdomain="year". Reading through the docs it doesn't look like this is possible -- am I correct?

Thanks again!

[2019-10-08 09:02] navixia commented on #222
Hello,

I have exactly the same issue. Any update on this one ?

[2019-10-17 14:46] kevinhooke commented on #126
I have been debugging this issue for a while and wish I'd found this issue earlier :-) The issue I'm seeing is that the offset from utc appears to be (24 - my timezone offset), so for PST -8, I need to add 24-8 hours. Not sure why yet or if I've done something else which has contributed to the issue, but this afterLoadData and adding 24-8hrs is a working workaround for me.

[2019-12-01 15:17] hungbang commented on #256
@roughcompass have you done it?

[2020-01-09 03:37] hungbang opened #268 "PreviousSelector and nextSelector are not working when using with jumpTo and rewind"
![image](https://user-images.githubusercontent.com/10163092/72035683-2ba1df00-32cb-11ea-808d-ab2b741e5bed.png)

I've added 4 buttons: Rewind, PreviousSelector, NextSelector, JumpTo as an image above.

I've added 2 methods: rewind and jumpto, previousSelector would shift the calendar one domain back and the opposite for nextSelector

But the problem is only Rewind and Jumpto is working, previousSel

[2020-01-09 03:49] hungbang commented on #268
workaround solution that I used is:
- I didn't use `previousSelector ` and `nextSelector` default
- I've added onClick event for 2 buttons: Previous and Next
- Implemented 2 methods to handle next and previous event, in which I will call method: `cal.previous(numberOfDomain)` and `cal.next(numberOfDomain)`

[2020-01-09 03:50] hungbang commented on #268
[code]

...

[code]

[2020-01-09 03:50] #268 closed

[2020-01-23 10:21] manojkumar82 commented on #102
is there an update on customizing tool tip as we want to add some information apart from date and value, to show in tool tip.

[2020-03-31 13:11] scottharvey commented on #154
I added this to calculate the x offset correctly when the heatmap is centered.

`tooltipPositionX += parseInt(domainNode.parentNode.parentNode.getBoundingClientRect().x, 10) - parseInt(self.root[0][0].parentNode.getBoundingClientRect().x, 10);`

I put that on about line 900 after this

`tooltipPositionY += parseInt(domainNode.parentNode.getAttribute("y"), 10);`

I can create a PR if the maintainer

[2020-05-03 18:47] shreyansh-zazz opened #269 "Is it still maintained?"

[2020-05-20 19:33] sataqi commented on #50
any update on this?

[2020-06-26 18:17] gabri3l0 commented on #112
It doesnt work yet

[2020-06-27 07:25] gabri3l0 commented on #254
How do you import the module, what do you install? and how to import it, pls help me

[2020-07-03 17:17] sataqi commented on #241
@wa0x6e

any help on doing this, I tried with CSS on parent `div` but didn't work.

[2020-09-11 17:16] HumanUser commented on #269
seems like not :(

[2020-09-21 12:53] milosb793 commented on #246
Man, you saved my (few) days with that timestamp acrobatic! :D

[2020-10-12 09:17] svagier commented on #100
The link is out of date, check this repo https://github.com/cagrimmett/jekyll-tools#posts-heatmap-calendar

[2020-10-12 09:18] svagier commented on #241
The link is out of date, check this repo: https://github.com/cagrimmett/jekyll-tools#posts-heatmap-calendar
@sataqi , this may help you

[2020-10-17 09:13] jaepetto opened #271 "TypeError: Cannot read property 'format' of undefined"
I have a web page (Django) where both d3 and cal-heatmap are referenced:
[code]

Both scripts are loaded successfully. However, I get the following message in the console:
"TypeError: Cannot read property 'format' of undefined"

This exception is triggered by:
https://github.com/wa0x6e/cal-heatmap/blob/0b594620104e0b11a94cc45feb0a76b58a038e0e/cal-heatmap.js#L2009

[2020-10-17 09:20] wa0x6e commented on #271
What is the d3 version ? How are you initializing the script ?

[2020-10-17 09:41] jaepetto commented on #271
I did use d3.js v6.0.0 (downloaded from d3 site).
Using it from a CDN (as per your documentation - v3 -) works OK:
https://codepen.io/jaepetto/pen/oNLxPqY

sorry with the annoyance...

[2020-10-17 09:41] #271 closed

[2020-10-17 09:42] wa0x6e commented on #271
Latest d3 version is not supported yet

On Sat, Oct 17, 2020 at 13:42 Emmanuel Jaep <notifications@github.com>
wrote:

[2020-10-17 14:35] jaepetto commented on #271
Thanks @wa0x6e for your quick reply and this library.

[2020-11-26 05:11] geospiza-fortis commented on #100
Thanks for this! I wanted to note that the `resizeEnd` event is superfluous. The `responsiveCal` function can be called directly by `setTimeout` in the resize event handler.

[2021-01-29 02:13] alanmels commented on #266
I second the request to change the algorithm as currently even taking an example of GitHub activity calendar colors

![Screenshot from 2021-01-28 19-09-25](https://user-images.githubusercontent.com/56604405/106222266-660f4000-619c-11eb-8209-d1c1f30e9432.png)

as:

[code]

gives:

![Screenshot from 2021-01-28 19-11-13](https://user-images.githubusercontent.com/56604405/106222386-a8388180-619c-11eb-

[2021-01-30 09:19] alanmels opened #272 "Make colors as clear as when legendColors are not set"
I've used color picker tool to find out the codes of the darkest `#3b6427` and lightest `#dae289` legend colors that come by default. BTW, they are used for Examples section on https://cal-heatmap.com/#examples.

Unfortunately, when the same colors fed to the script as legendColor argument as:
[code]
the colors are not the same. Instead, they are lighter, kind of dimmed:

![Screenshot from 2021-01

[2021-02-09 08:30] alanmels opened #273 "Display more item information upon triggering onClick"
I'm trying to provide more information upon clicking on the calendar cells than simply the number of items on a certain date. In particular, while collecting the data for calendar my scripts prepares more useful information on each item.

According to https://cal-heatmap.com/#data-format the data format should be:

[code]

Would be wonderful if we could feed more information associated with each t

[2021-02-22 15:26] drgrubman commented on #257
Having the same issue...was hoping to display values from my "week" subdomain into the cell.

@0xRoM thanks for the tip but it's going to be too much json to unpack quickly.

[2021-03-01 04:09] alanmels commented on #122
Also need this feature.

[2021-04-04 01:05] fabjordan commented on #100
A simple alternative that helped me was to override the main svg class "cal-heatmap-container". This will keep the structure initially defined!

[code]

[2021-05-24 13:57] jacobSpitzer commented on #151
how can i display a special color on certain weekdays without specifying a data list from dates?

[2021-08-02 00:53] swk23C8 commented on #273
Hey! I was wondering if you found a work around way for this. I'm approaching this problem in a hacky way and its not looking too clean :/

[2021-12-28 09:29] tomaszs opened #274 "Cal-heatmap not working in Angular: Uncaught TypeError: Cannot read properties of undefined (reading 'document')"
I have installed cal-heatmap for an Angular project (v12). The project uses "d3": "^5.16.0". Use case:

`"cal-heatmap": "^3.6.2",`

`import CalHeatMap from 'cal-heatmap';`

[code]

constructor line throws:

[code]

Expected result: no error
Actual result: error

[2022-01-26 09:25] nitoloz commented on #274
Same error for me with angular v13.
@tomaszs did you find a solution for that?
My `package.json` looks as follows:
[code]

[2022-01-26 13:32] tomaszs commented on #274
No didn't get any answer so far

[2022-01-26 15:44] nitoloz commented on #274
According to the issues I've found ([plotly1](https://github.com/plotly/angular-plotly.js/issues/75), [plotly2](https://github.com/plotly/angular-plotly.js/issues/89), and [SO](https://stackoverflow.com/questions/62696159/angular10-uncaught-typeerror-cannot-read-property-document-of-undefined-at)) it seems that problem is with angular bundling cal-heatmap into es2015 module which breaks the app

[2022-01-27 17:25] tomaszs commented on #274
Thanks!

[2022-05-09 03:13] #267 closed

[2022-06-29 14:44] bajrang4it opened #276 "Calender month grid view"
I want to a year of all month in grid view 4 column and 3 row like

Jan   Feb   Mar   Apr

May  Jun Jul Aug

Sep Oct Nov Dec

[2022-09-30 03:48] ChiaYuSu commented on #131
I would like to ask you how you replaced the CalHeatMap tooltip to Tipsy tooltip

[2022-10-19 13:05] Loksly opened #277 "It is possible to make donations so this project is maintained"
Hi everyone.

Is there any kind of possibility to make donations to authors or contributors so update, at least security updates, are made on this project?

[2022-11-06 16:52] wa0x6e commented on #102
#169 merge into V4 branch

[2022-11-06 16:52] #102 closed

[2022-11-06 17:14] wa0x6e commented on #273
You can use your custom data
[code]
and use the `afterLoadData` (https://cal-heatmap.com/#afterLoadData) event to format them to the expected format.

As the `onClick` event is a function with the cell date as first argument, you can use it to retrieve the associated line in your original data object.

[2022-11-06 17:14] #273 closed

[2022-11-06 17:22] wa0x6e commented on #94
Duplicate of #100

[2022-11-06 17:22] #94 closed

[2022-11-06 17:52] #162 closed

[2022-11-06 18:01] wa0x6e commented on #50
Merged into v4

[2022-11-06 18:01] #50 closed

[2022-11-06 19:01] dwiyatci commented on #50
@wa0x6e I really appreciate the efforts. I can still remember that I just turned 24 y.o. and was about to start my master thesis when I first requested this feature, and now I'm a 33 y.o. with a pretty stable job when the feature got merged. Feels like taking a good trip down memory lane this this issue〰 🏞🫡😌

[2022-11-07 04:45] wa0x6e commented on #96
Merged into v4

[2022-11-07 04:45] #96 closed

[2022-11-07 05:09] wa0x6e commented on #200
Related to #180

[2022-11-07 05:09] #200 closed

[2022-11-07 05:10] #92 closed

[2022-11-07 05:11] #121 closed

[2022-11-07 05:15] wa0x6e commented on #240
Fixed in #249

[2022-11-07 05:15] #240 closed

[2022-11-12 19:11] #254 closed

[2022-11-12 19:16] wa0x6e opened #278 "📣 Next V4 release"
Hello world,

Next version of CalHeatmap (V4) is in progress, and will be a major update from current state.
After 6 years of inactivity, the code is pretty out-of-date with current technology, and I decided to proceed to a full refactoring of the code base, since javascript and browser support has evolved since.

## Roadmap

### New/Planned features and fixes

Current tickets and PR will be close

[2022-11-16 19:07] wa0x6e commented on #122
Added in v4

[2022-11-16 19:07] #122 closed

[2022-11-16 19:09] wa0x6e commented on #269
v4 is coming soon

[2022-11-16 19:09] #269 closed

[2022-11-16 19:30] wa0x6e commented on #171
Fixed in v4

[2022-11-16 19:38] wa0x6e commented on #180
Fixed in v4

[2022-11-16 19:38] #180 closed

[2022-11-16 19:38] wa0x6e commented on #192
Fixed in v4

[2022-11-16 19:38] #192 closed

[2022-11-16 19:41] wa0x6e commented on #274
`import CalHeatMap from 'cal-heatmap';` is indeed not working, as the tool is not using ES6 standard.

v4 will fix that, it's a full refactoring, to es6 classes and all the new tech

[2022-11-16 19:41] #274 closed

[2022-11-16 19:49] wa0x6e commented on #151
See #164

[2022-11-16 19:49] #151 closed

[2022-11-16 19:50] wa0x6e commented on #262
See #164

[2022-11-16 19:50] #262 closed

[2022-11-16 19:50] wa0x6e commented on #209
See #164

[2022-11-16 19:50] #209 closed

[2022-11-16 19:55] wa0x6e commented on #276
See #164

[2022-11-16 19:55] #276 closed

[2022-11-16 19:56] wa0x6e commented on #164
Full customization of domains and subdomain layout is planned for v4

[2022-11-17 17:28] wa0x6e commented on #265
Added in v4

[2022-11-17 17:28] #265 closed

[2022-11-17 17:49] wa0x6e commented on #91
Added in v4

[2022-11-17 17:49] #91 closed

[2022-11-17 17:56] wa0x6e commented on #258
See #111

[2022-11-17 17:56] #258 closed

[2022-11-18 16:27] wa0x6e commented on #186
Fixed in v4

[2022-11-18 16:27] #186 closed

[2022-11-18 16:28] #228 closed

[2022-11-18 16:39] wa0x6e commented on #257
Fixed in v4

[2022-11-18 16:39] #257 closed

[2022-11-18 16:52] wa0x6e commented on #115
Fixed in v4

[2022-11-18 16:52] #115 closed

[2022-11-18 18:07] wa0x6e commented on #95
`.toISOString()` should always return an UTC time, so not timezone dependent.
If your backend is not returning the correct dates, it may be because it does not parse the date with the correct timezone.

the `endDate` is indeed the last subdomain of the calendar, so it it's a yearly calendar by days, `endDate` is 31 December, at 00:00, and you indeed lose data for the last day.

v4 will fix this is

[2022-11-18 18:07] #95 closed

[2022-11-18 18:25] wa0x6e commented on #261
Just tested, and it works

Don't forget to load momentjs with all the locales

[2022-11-18 18:25] #261 closed

[2022-11-18 20:05] wa0x6e commented on #98
After some thinking, start/end date is the most suitable bounds.

step is useful only when domain navigation is by step, with adjacent domains, which is not always true.
The `jumpTo` function can load data far from the startDate, such as 25 domains aways, and in a calendar showing only 4 domains, the `startDate` will always be necessary, else you will load unnecessary data for the 21 domains you w

[2022-11-18 20:05] #98 closed

[2022-11-18 20:08] wa0x6e commented on #246
I do see the 40 for April 1.

I guess it's a timezone issue, so related to #105
v4 will use moment-timezone to handle all the dates, and add support for timezone

[2022-11-18 20:08] #246 closed

[2022-11-18 20:11] #263 closed

[2022-11-18 20:18] #73 closed

[2022-11-19 13:49] wa0x6e commented on #154
Fixed in v4, now using popperjs

[2022-11-19 13:49] #154 closed

[2022-11-19 13:49] wa0x6e commented on #189
Fixed in v4, now using popperjs

[2022-11-19 13:49] #189 closed

[2022-11-19 13:50] wa0x6e commented on #131
Fixed in v4, now using popperjs

[2022-11-19 13:50] #131 closed

[2022-11-20 21:07] wa0x6e commented on #87
Fixed in v4

[2022-11-20 21:07] #87 closed

[2022-11-21 09:38] wa0x6e commented on #133
Related to #87, fixed in v4

The cell before the empty cell is the last week of the year, and the cell after is the first week of the year. It's a positioning issue, since the week number is like 53, but week 53 of the previous year

[2022-11-21 09:38] #133 closed

[2022-11-21 10:34] wa0x6e commented on #264
Use the `subDomainTextFormat` function to insert the text on calendar creation, then use some CSS to hide it, and show only on hover

[code]

[2022-11-21 10:34] #264 closed

[2022-11-21 10:36] #277 closed

[2022-11-21 10:50] wa0x6e commented on #278
v4 branch has been merged into master.

Code is now more or less functional, with all migration steps completed.
Starting now working on bugfixes and enhancement

[2022-11-21 21:16] wa0x6e commented on #164
Add in v4, see section about `subDomainTemplate`

[2022-11-21 21:16] #164 closed

[2022-11-21 21:18] wa0x6e commented on #52
Fixed in v4

[2022-11-21 21:18] #52 closed, assigned to wa0x6e

[2022-11-21 22:07] wa0x6e commented on #238
Now possible in v4, with the custom templates injection

[2022-11-21 22:07] #238 closed

[2022-11-22 13:01] renovate[bot] opened #280 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

This repository currently has no open or pending branches.

## Detected dependencies

<details><summary>github-actions</summary>
<blockquote>

<details><summary>.github/workflows/lint.yml</summary>

 - `actions/setup-node v3`
 - `ac

[2022-11-27 16:42] wa0x6e commented on #134
Fixed

[2022-11-27 16:42] #134 closed

[2022-11-27 20:46] wa0x6e commented on #158
Added in v4

[2022-11-27 20:46] #158 closed

[2022-11-28 19:29] wa0x6e commented on #100
v4 can now update calendar settings without destroying and redrawing the calendar.
For now, you may now add an event listener on your window, and update the calendar range on demand.

Will see later if this option should be included in the code directly